<footer class="footb">
    <div class="container fc">
        <div class="col-md-4 col-sm-4 col-xs-4 marg7">
            <p class="Robotor">The Bachelor Trip &copy; {{template.year}}</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 fcenter">
            <a href="https://www.facebook.com/thebachelortrip/" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/TheBachelorTrip" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="home" target="_blank"><i class="fa fa-google-plus"></i></a>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 marg7">
            <div class="pull-right">
                <p class="Robotor"><a class="grey_color Robotor" target="_blank" href="www.ting.in">Designed By Ting</a></p>
            </div>
        </div>
    </div>
</footer>
