<div class="footermenu">
    <div class="container">
        <div class="col-md-12">
            <div class="paddingabout">
                <div class="row footerfom">
                    <div class="col-md-6 col-sm-12 col-xs-12 footermenu2"><strong class="st stp Robotor"><a class="whit_color" ui-sref="home" href="#/">DESTINATIONS</a></strong>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <ul class="list-group">
                                <li class="list Robotor "><a class="whit_color" ui-sref="home">Amsterdam</a></li>
                                <li class="list Robotor"><a class="whit_color" ui-sref="home">Barcelona</a></li>
                                <li class="list Robotor"><a class="whit_color" ui-sref="home">Benidorm</a></li>
                                <li class="list Robotor"><a class="whit_color" ui-sref="home">Berlin</a></li>
                                <li class="list Robotor"><a class="whit_color" ui-sref="home">Bratislava</a></li>
                                <li class="list Robotor"><a class="whit_color" ui-sref="home">Budapest</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <ul class="list-group">
                                <li class="list Robotor "><a class="whit_color" ui-sref="home">Copenhagen</a></li>
                                <li class="list Robotor"><a class="whit_color" ui-sref="home">Cologne</a></li>
                                <li class="list Robotor"><a class="whit_color" ui-sref="home">Hamburg</a></li>
                                <li class="list Robotor"><a class="whit_color" ui-sref="home">Lisbon</a></li>
                                <li class="list Robotor"><a class="whit_color" ui-sref="home">Munich</a></li>
                                <li class="list Robotor"><a class="whit_color" ui-sref="home">Prague</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 ">
                            <ul class="list-group">
                                <li class="list Robotor "><a class="whit_color" ui-sref="home">Riga</a></li>
                                <li class="list Robotor"><a class="whit_color" ui-sref="home">Sofia</a></li>
                                <li class="list Robotor"><a class="whit_color" ui-sref="home">Stuttgart</a></li>
                                <li class="list Robotor"><a class="whit_color" ui-sref="home">Tallinn</a></li>
                                <li class="list Robotor"><a class="whit_color" ui-sref="home">Vilnius</a></li>
                                <li class="list Robotor"><a class="whit_color" ui-sref="home">Warsaw</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3  col-sm-12 col-xs-12"><strong class="st stp strong-impmarg witdhimp Robotor"><a class="whit_color" ui-sref="home" href="#/">QUICK MENU</a></strong>
                        <ul class="list-group">
                            <li class="list Robotor "><a class="whit_color" ui-sref="home">About Us</a></li>
                            <li class="list Robotor"><a class="whit_color" ui-sref="activity">Activities</a></li>
                            <li class="list Robotor"><a class="whit_color" ui-sref="home">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3  col-sm-12 col-xs-12"><strong class="st stp strong-impmarg bordernone Robotor"><a class="whit_color" ui-sref="home" href="#/">GET EMAIL UPDATE</a></strong>
                        <form name="subcribeForm">
                            <input type="text" class="form-control Robotor" placeholder="Your email address" name="email" ng-modal="email.subcribeForm" required>
                            <p class="error" ng-show="subcribeForm.email.$error.required && subcribeForm.email.$dirty">Email is required</p>
                            <button type="button" class="btn Robotor bluecol">SUBSCRIBE</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
