<footer class="footb">
    <div class="container fc">
        <div class="col-md-4 col-sm-4 col-xs-4 marg7 text-left padright">
            <p class="Robotor">The Bachelor Trip &copy; {{template.year}}</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 marg7 text-center padright">
            <p class="Robotor">A venture by PINK PEACHES TRAVEL MANAGEMENT LLP.</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 marg7 text-right padleft">
            <p class="Robotor"><a class="grey_color Robotor" target="_blank" href="http://www.ting.in/">Designed By Ting</a></p>
        </div>
    </div>
</footer>
