<!-- START BANNER -->
<div class="container ">
    <figure class="m1 figure922">
        <img class="img-responsive" src="frontend/img/12.jpg">
        <!-- <img class="img-responsive" ng-src="{{Banner.banner | serverimage}}"> -->
    </figure>
</div>
<!--END BANNER -->

<!-- START  MediaCorner -->
<div class="container">
    <div class="row">
        <div class="col-md-12 pd50 activi">
            <div class="category padnon">

                <!-- START  INFO  -->
                <div class="row bluecol_back">
                    <div class="pad">
                        <h3 class="whit_color theboldfont margbotom">THERE ARE SOME EXPERIENCES THAT COME ONCE IN YOUR LIFETIME.</h3>
                        <p class="whit_color Robotor">And your <strong class="abinfo pregular yellow_color">Bachelor Trip</strong> is definitely one of them. We're the first Indian company that taken it upon itself to give you the best Bachelor Trip plan. Planning your trip with us
                            gives you access to parties across the <strong class="abinfo pregular whit_color">globe</strong>, crazy adrenaline pumping adventures you've been wanting to try out and some of naughty affairs you wouldn't mind indulging in.
                            The best of experiences offered globally, handpicked and ready to explore, just for you. So sit back, relax and let the professionals handle your <strong class="abinfo pregular yellow_color">Bachelor Trip planning!</strong></p>
                    </div>
                </div>
                <!-- END INFO -->

                <!-- START  FIRST ROW  -->
                <div class="row yellow_back_color marginbot">
                    <div class="col-md-6 col-sm-12 col-xs-12 padinfo">
                      <div class="text-center">
                          <img src="frontend/img/hemant.gif" class="imgabout img-responsive">
                      </div>

                        <h3 class="pregular bluecol linheight">HEMANT KALE <strong  class="personinfo Robotor">(FOUNDER & CEO)</strong></h3>
                        <p class="bluecol Robotor">The Shaadiwala | The Eventwala | The Bachelor Trip Wala| Planner | Convincer| Just| Truthful | Last Man on the Dance Floor | Always on the Right Side Of the Grass | Traveller | Music Lover</p>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 corpad5 padinfo">
                        <img src="frontend/img/sarosh.gif" class="imgabout img-responsive">
                        <h3 class="pregular bluecol linheight">SAROSH PATEL<strong class="personinfo Robotor">(FOUNDER)</strong></h3>
                        <p class="bluecol Robotor">Master of All Trades| Relaxed and Friendly| Show me the Money| Grandeur| Fashion Week Man| Snazzy| Opulent| Pernickety| Funny One| Crazy sometimes| A BAWA</p>
                    </div>
                </div>
                <!-- END FIRST ROW -->

                <!-- START SECOND ROW -->
                <div class="row yellow_back_color marginbot">
                    <div class="col-md-6 col-sm-12 col-xs-12 padinfo">
                        <img src="frontend/img/gaurav.gif" class="imgabout img-responsive">
                        <h3 class="pregular bluecol linheight">GAURAV ANGOLKAR <strong  class="personinfo Robotor">(SR. MANAGER PRODUCT DEVELOPMENT)</strong></h3>
                        <p class="bluecol Robotor">Rough and Tough| The Bad Guy Women Love| Biker|  Foodie|  Traveller|  Engineer Turned Trip Planner| Calm and Composed| Wants to Be Rich to Bathe in Scotch| Lives Life King Size| Genial and Good Humour| Dandy</p>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 corpad5 padinfo">
                        <img src="frontend/img/vishal.gif" class="imgabout img-responsive">
                        <h3 class="pregular bluecol linheight">VISHAL KALE <strong class="personinfo Robotor">(SR. MANAGER BUSINESS DEVELOPMENT)</strong></h3>
                        <p class="bluecol Robotor">Athletic| Chicken, Fish and Veggies Binger| Lived on an Aircraft for 10 Years| Beer Guzzler| Football Fanatic| Humorous| Chivalrous| Happy go lucky| Gift of Gab|</p>
                    </div>
                </div>
                <!-- END SECOND ROW -->

                <!-- START THIRD ROW -->
                <div class="row yellow_back_color marginbot">
                    <div class="col-md-6 col-sm-12 col-xs-12 padinfo">
                        <img src="frontend/img/ambika.gif" class="imgabout img-responsive">
                        <h3 class="pregular bluecol linheight">AMBIKA <strong  class="personinfo Robotor">(HEAD - CONTENT & BLOGS)</strong></h3>
                        <p class="bluecol Robotor">Lorem lpsum is simply dummy text of the printing and typestting industry. Lorem lpsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a gallery of type and scrambled ir to make a type
                            specimen book</p>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 corpad5 padinfo">
                        <img src="frontend/img/saachi.gif" class="imgabout img-responsive">
                        <h3 class="pregular bluecol linheight">SAACHI <strong class="personinfo Robotor">(MANAGER, SOCIAL MEDIA & CONTENT)</strong></h3>
                        <p class="bluecol Robotor">Lorem lpsum is simply dummy text of the printing and typestting industry. Lorem lpsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a gallery of type and scrambled ir to make a type
                            specimen book</p>
                    </div>
                </div>
                <!-- END THIRD ROW -->
            </div>
        </div>
    </div>
</div>
<!-- END ACTIVITY -->
