<!-- START BANNER -->
<div class="container ">
    <figure class="m1 figure922">
        <img class="img-responsive" src="frontend/img/12.jpg">
        <!-- <img class="img-responsive" ng-src="{{Banner.banner | serverimage}}"> -->
    </figure>
</div>
<!--END BANNER -->

<!-- START  MediaCorner -->
<div class="container">
    <div class="row">
        <div class="col-md-12 pd50 activi">
            <div class="category padnon">
                <div class="row bluecol_back">
                    <div class="pad">
                        <h3 class="whit_color theboldfont">THERE ARE SOME EXPERIENCES THAT COME ONCE IN YOUR LIFTIME.</h3>
                        <p class="whit_color">And your Bachelor Trip is definitely one of them. we're the first indian company that taken it upon itself to give you the best Bachelor Trip plan. Planing your trip with us gives you access to parties across the globe, crazy adrenaline
                            pumping adventures you've been wanting to try out and some of naughty affairs you wouldn't mind indulging in. the best of experiences offered globally, handpicked and ready to explore, just for you. so sit back, relax and let
                            the professionals handle your Bachelor Trip planning!</p>
                    </div>
                </div>
                <div class="row yellow_back_color">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="col-md-5 col-sm-6 col-xs-12">
                            <img src="frontend/img/hemant.gif" class="imgabout img-responsive">
                        </div>
                        <div class="col-md-7 col-sm-6 col-xs-12">
                          <h3  class="theboldfont bluecol">HEMANT <strong>(CEO)</strong></h3>
                           <p class="bluecol">fdkf jfknjks sjkfnkasafas fasafnsf asjkfasanf asajfnasj fjkasnfk asjfn</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="col-md-5 col-sm-6 col-xs-12">
                            <img src="frontend/img/Sarosh.gif" class="imgabout img-responsive">
                        </div>
                        <div class="col-md-7 col-sm-6 col-xs-12">
                            <h3 class="theboldfont bluecol">SAROSH <strong>(FOUNDER)</strong></h3>
                            <p class="bluecol">fdkf jfknjks sjkfnkasafas fasafnsf asjkfasanf asajfnasj fjkasnfk asjfn</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END ACTIVITY -->
