<div class="container ">
    <figure class="m1 figure922">
        <img class="img-responsive doneLoading" ng-src="{{Banner.banner | serverimage}}">
    </figure>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 pd50 activi">
            <div class="category">
                <div class="row">
                    <div class="col-md-12 paddactiv">
                        <form>
                            <div class="form-group select-main  display-inline">
                                <select ng-options="option.name for option in myDropdown" ng-model="selectedItem" ng-change="changeDestination(selectedItem._id)">

                                    <option value="">Select All</option>
                                </select>
                                <!-- <select class="form-control" >
                           <option ng-selected="true" value="">Destination</option>
                           <option value="" ng-repeat="data in myDropdown" ng-click="changeDestination(data._id)">{{data.name}}
                           </option>
                        </select> -->

                            </div>


                        </form>
                    </div>
                </div>
                <div ng-repeat="n in activityLoop" ng-if="showBttn.length!=0">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12 padd15px " ng-if="activityLand.smallImage[n]" ng-repeat="smallImg in  activityLand.smallImage[n]">
                            <div class="flipDiv">
                                <figure>
                                    <div class="front">
                                        <img ng-src="{{smallImg.image1 |serverimage}}" alt="" class="img-responsive">
                                        <div class="cart-sec">
                                          <button class="cart uppercase" ng-click="addTocartOnActivityPage(smallImg._id,smallImg.typeCart);">
                                              <i class="whitecolor fa fa-shopping-cart" ng-if="!isInWishlistActivityPage(smallImg._id)"></i>
                                              <i class="yellow_color fa fa-shopping-cart" ng-if="isInWishlistActivityPage(smallImg._id)"></i>
                                          </button>
                                            <!-- <img src="frontend/img/cart.png" alt="" class="img-responsive" ng-if="!cart">
                                            <img src="frontend/img/fav-cart.png" alt="" class="img-responsive" ng-if="cart"> -->
                                        </div>
                                        <div class="shadow-down"></div>
                                        <div class="event-name">
                                            <span>{{smallImg.name}}</span>
                                        </div>
                                    </div>
                                    <figcaption>
                                          <img ng-src="{{smallImg.image1 |serverimage}}" alt="" class="bluracti img-responsive">
                                          <div class="cart-sec">
                                            <button class="cart uppercase" ng-click="addTocartOnActivityPage(smallImg._id,smallImg.typeCart);">
                                                <i class="whitecolor fa fa-shopping-cart" ng-if="!isInWishlistActivityPage(smallImg._id)"></i>
                                                <i class="yellow_color fa fa-shopping-cart" ng-if="isInWishlistActivityPage(smallImg._id)"></i>
                                            </button>
                                          </div>
                                          <div class="descrip" ng-bind-html="smallImg.description"></div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12  col-sm-12 col-xs-12 padd15px padd30px" ng-if="activityLand.bigImage[n]">
                            <div class="flipDiv">
                                <figure>
                                    <div class="front">
                                        <img ng-src="{{activityLand.bigImage[n].image2 | serverimage}}" alt="" class="img-responsive">
                                        <div class="cart-sec">
                                          <button class="cart uppercase" ng-click="addTocartOnActivityPage(activityLand.bigImage[n]._id,activityLand.bigImage[n].typeCart);">
                                              <i class="whitecolor fa fa-shopping-cart" ng-if="!isInWishlistActivityPage(activityLand.bigImage[n]._id)"></i>
                                              <i class="yellow_color fa fa-shopping-cart" ng-if="isInWishlistActivityPage(activityLand.bigImage[n]._id)"></i>

                                          </button>
                                        </div>

                                        <div class="shadow-down"></div>
                                        <div class="event-name">
                                            <span>{{activityLand.bigImage[n].name}}</span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <img ng-src="{{activityLand.bigImage[n].image2 | serverimage}}" alt="" class="bluracti img-responsive">
                                        <div class="cart-sec">
                                          <button class="cart uppercase" ng-click="addTocartOnActivityPage(activityLand.bigImage[n]._id,activityLand.bigImage[n].typeCart);">
                                              <i class="whitecolor fa fa-shopping-cart" ng-if="!isInWishlistActivityPage(activityLand.bigImage[n]._id)"></i>
                                              <i class="yellow_color fa fa-shopping-cart" ng-if="isInWishlistActivityPage(activityLand.bigImage[n]._id)"></i>

                                          </button>
                                        </div>
                                        <div class="descrip" ng-bind-html="activityLand.bigImage[n].description"></div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="showBttn.length==0">
                    <h1><center>No data Found</center></h1></div>

                <div class="load-more text-center" ng-hide="showBttn.length==0">
                    <div class="over-layer pdt30 pdb30">
                        <div class="button-holder">
                            <button class="ext-detail" ng-click="loadMoreActivities()" ng-if="viewMore">View More</button>
                            <button class="ext-detail" ng-if="viewLess && !viewMore" ng-click="loadLessActivities()">View Less</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!---email update  ---->




<!-- <div ng-repeat="n in activtyLoop">{{n}}
   <div ng-if="activityLand.smallImage[n]">
      <div ng-repeat="smallImg in  activityLand.smallImage[n]"></div>
   </div>
   <div ng-if="bigimage[n]">
      <div><img ng-src="{{bigimage[n]}}" alt=""></div>
   </div>
</div> -->
