<!-- START BANNER -->
<div class="container ">
    <figure class="m1 figure922">
        <img class="img-responsive" src="frontend/img/activity-ban.jpg">
    </figure>
</div>
<!-- END BANNER -->

<!---START CUSTOMISATION---->
<div class="pad9">
    <div class="container ">
        <div class="col-md-12 m4 ">
            <div class="marg4 yellow_back_lightcolor">
                <!---POPULAR DESTINATIONS DROP DOWN---->
                <div class="row pd15 text-center">
                    <div class="custom-select text-center">
                        <select class="form-control Roboto" ng-change="dropDownClick(selected)" ng-model="selected">
                          <option value="{{data._id}}" ng-repeat="data in dropDown"  >{{data.name}}</option>
                        </select>
                    </div>
                    <h1 class="theboldfont custtitle">1. CHOOSE ACCOMMODATION</h1>
                </div>
                <!-- END DROP DOWN -->
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12 pdt15" ng-repeat="data in customisationDest">
                        <figure>
                            <div class="front ">
                                <img ng-src="{{data.image |serverimage:544:545}}" class="mainwidht img-responsive">
                                <div class="cart-sec2">
                                  <div class="checkbox checkboxing">
                                      <input value="cart" type="checkbox" ng-model="checkboxModel1" id="{{data._id}}" ng-click="addTocartOnAccomodation('Accomodation',customisationDestForName,data.hotelName,data.image,data._id,checkboxModel1)">
                                      <label for="{{data._id}}"><span></span></label>
                                  </div>
                                </div>
                                <div class="shadow-down"></div>
                                <div class="event-name">
                                    <span>{{data.hotelName}}</span>
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>


            <!---CHOOSE ACTIVITIES START ---->
            <div class="row text-center">
                <h1 class="theboldfont custtitle custtitle2">2. CHOOSE ACTIVITIES<br>NIGHT & DAYTIME </h1>
                <div class="checkboxrow2 ">
                  <div class="checkbox checkboxing">
                      <input value="{{location.value}}" type="checkbox" ng-model="selectedAll.location" ng-click="checkAllPackages()" id="later">
                      <label for="later"><span></span> All</label>
                  </div>
                  <div class="checkbox checkboxing">
                      <input type="checkbox" ng-model="day.model" id="day" ng-click="searchDay()">
                      <label for="day"><span></span>Day</label>
                      <img src="frontend/img/Vector-Smart-Object1.png" alt="" class="check_img">
                      <input type="checkbox" ng-model="night.model" id="night" ng-click="searchNight()">
                      <label for="night"><span></span> Night</label>
                      <img src="frontend/img/Vector.png" alt="" class="check_img vector">
                  </div>
                    <!-- <div class="checkbox checkboxing">
                        <input value="{{location.value}}" type="checkbox" ng-model="selectedAll.location" ng-click="checkAllLocation()" id="later">
                        <label for="later"><span></span> All</label>
                    </div>
                    <div class="checkbox checkboxing" ng-repeat="location in locationArr track by $index">
                        <input type="checkbox" ng-model="locationArr[$index].model" id="{{location.value}}" ng-change="searchExpert()" id="me">
                        <label for="{{location.value}}" ><span></span> {{location.value}}</label>
                        <img src="{{location.image}}" alt="" class="check_img {{location.imageClass}}">
                    </div> -->
                </div>
            </div>
            <div class="row" ng-hide="noResult">
                <div class="col-md-4 col-sm-4 col-xs-12 pdt15" ng-repeat="data in getActivity">
                    <figure>
                        <div class="front">
                            <img ng-src="{{data.image1 |serverimage:544:545}}" class="mainwidht img-responsive">
                            <div class="cart-sec2">
                                <div class="checkbox checkboxing">
                                    <input value="cart" type="checkbox" ng-model="checkboxModel" id="{{data._id}}" ng-click="addTocartOnCustPage(data._id,data.typeCart,checkboxModel);">
                                    <label for="{{data._id}}"><span></span></label>
                                </div>
                            </div>
                            <div class="shadow-down"></div>
                            <div class="event-name">
                                <span>{{data.name}}</span>
                            </div>
                        </div>
                    </figure>
                </div>

                <div class="col-md-12 loadimag text-center ">
                    <a class="whit_color" ng-click="loadMoreActivity()" ng-if="viewMore">VIEW  MORE</a>
                    <a class="whit_color" ng-if="viewLess && !viewMore" ng-click="searchExpert()">VIEW  LESS</a>
                </div>
            </div>
            <!-- START ERROR  -->
            <div class="text-center" ng-show="noResult && !viewMore">
                <h4 class="nodata">No Result Found</h4>
            </div>
            <!-- END ERROR -->

            <!---DETAILS START ---->
            <div class="row pd15 text-center">
                <h1 class="theboldfont custtitle">3. DETAILS</h1>
            </div>
            <div class="row detailsfom">
                <form name="myForm" ng-submit="custDetailSubmit(custDetail)" ng-if="!custDetailComplete">
                    <div class="col-md-6 col-sm-6 col-xs-12 padding-r ">
                        <div class="col-md-12 col-sm-12 col-xs-12 pdt10">
                            <input type="text" class="hideinput form-control Robotor" placeholder="Your name" name="name" ng-model="custDetail.name" required>
                            <p class="error" ng-show="myForm.name.$invalid && myForm.name.$touched">Your name is required</p>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 pdt10">
                            <input type="email" class="hideinput form-control Robotor" placeholder="Email" name="email" ng-model="custDetail.email" required>
                            <p class="error" ng-show="myForm.email.$invalid && myForm.email.$touched">Email is required</p>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 pdt10">
                            <input type="number" class="hideinput form-control Robotor" placeholder="Phone" name="phone" ng-model="custDetail.phone" required>
                            <p class="error" ng-show="myForm.phone.$invalid && myForm.phone.$touched">Phone is required</p>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 pdt10">
                            <input type="number" class="hideinput form-control Robotor" placeholder="Group Size" name="size" ng-model="custDetail.group" required>
                            <p class="error" ng-show="myForm.size.$invalid && myForm.size.$touched">Group Size is required</p>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 pdt10">
                            <input type="date" class="hideinput form-control Robotor" placeholder="From" name="from" ng-model="custDetail.from" required>
                            <p class="error" ng-show="myForm.from.$invalid && myForm.from.$touched">From is required</p>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 pdt10">
                            <input type="date" class="hideinput form-control Robotor" placeholder="To" name="to" ng-model="custDetail.to" required>
                            <p class="error" ng-show="myForm.to.$invalid && myForm.to.$touched">To is required</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 padding-l">
                        <div class="col-md-5 pdt10">
                            <input type="text" class="hideinput form-control Robotor" placeholder="Budget(per person)" name="budget" ng-model="custDetail.budget" required>
                            <p class="error" ng-show="myForm.budget.$invalid && myForm.budget.$touched">Budget is required</p>
                        </div>
                        <div class="col-md-7 pdt10">
                            <input type="text pdt15" class="hideinput form-control Robotor" placeholder="WHAT STAGE IS YOUR  PLAN IN?" name="plan" ng-model="custDetail.plan">
                            <p class="error" ng-show="myForm.plan.$invalid && myForm.plan.$touched">Plan is required</p>
                        </div>
                        <div class="col-md-12 pdt10">
                            <textarea class="hideinput form-control text-height Robotor" rows="7" placeholder="SOMETHING ELSE?" ng-model="custDetail.comment"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 lodm text-center sub">
                        <button ng-disabled="myForm.$invalid" class="whit_color text-center center-block" type="submit">GET YOUR QUOTE NOW</button>
                    </div>
                </form>
                <!-- START ERROR -->
                <div class="text-center" ng-if="custDetailComplete">
                    <h4>Thank you for Submitting Details</h4>
                </div>
                <!-- END ERROR -->
            </div>
        </div>
    </div>
</div>
</div>
