<!-- START BANNER  -->
<div class="container">
    <figure class="m1">
        <img alt="The Bachelor Trip"  class="img-responsive" ng-src="{{getDestination.banner | serverimage}}">
    </figure>
</div>
<!-- END BANNER  -->
<!--START DESC  -->
<div class="whatsmain">
    <div class="container ">
        <div class="col-md-12">
            <div class="pattayamarg4 yellow_back_lightcolor">
                <div class="row Robotor bluecol" ng-bind-html="getDestination.description">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END DESC -->

<!---SELECTION START---->
<div class="whatsmain">
    <div class="container ">
        <div class="col-md-12 ">
            <!---PACKAGES START ---->
            <div class="{{classv}} whatsmarg4 displaynonpata" ng-if="tabs=='bz'">
                <div class="row text-center pattmarg2">
                    <span><a ng-click="tabchanges('az',1)" class="patpack theboldfont ">ACTIVITIES </a></span>

                    <span><a ng-click="tabchanges('bz',2)" class=" patpack2 whit_color theboldfont  ">PACKAGES</a></span>
                </div>

                <div class="whatsmain">
                    <div class="margincheck">
                        <div class="row checkboxrow Robotor bluecol yellow_back_color">
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                <p>Explore our Ready Packages made by our EXPERTS!!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pattmarg3">
                    <div class="col-md-3 col-sm-3 col-xs-12 pading0" ng-repeat="data in getPackage">
                        <div class="events">
                            <img alt="{{data.title1}} {{data.title2}}" title="{{data.title1}} {{data.title2}}" ng-src="{{data.image |serverimage:544:545}}" alt="" class="maxwidth img-responsive">
                            <div class="cart-sec">
                                <button class="cart uppercase" ng-click="addTocartOnPackage(data._id,data.typeCart);">
                                  <i  ng-if="!isInWishlistPackage(data._id)" ng-click="cartd();"><img  src="frontend/img/cartremove.png" class="cartsi img-responsive" ></i>
                                  <i  ng-if="isInWishlistPackage(data._id)" ng-click="cartr();"><img  src="frontend/img/cartadd.png" class="cartsi img-responsive"></i>
                              </button>
                            </div>
                            <div class="shadow-down"></div>
                            <div class="event-name">
                                <span>{{data.title1}} {{data.title2}}</span>
                                <br>
                                <span>{{data.duration}}</span>
                            </div>
                            <div class="over-layer text-center" ui-sref="pakage({id:data._id})">
                                <div class="cart-sec">
                                    <button class="cart uppercase" ng-click="addTocartOnPackage(data._id,data.typeCart);">
                                    <i  ng-if="!isInWishlistPackage(data._id)" ng-click="cartd();"><img  src="frontend/img/cartremove.png" class="cartsi img-responsive" ></i>
                                    <i  ng-if="isInWishlistPackage(data._id)" ng-click="cartr();"><img   src="frontend/img/cartadd.png" class="cartsi img-responsive"></i>
                                </button>
                                </div>
                                <div class="button-holder">
                                    <button class="ext-detail" ui-sref="pakage({id:data._id})">KNOW MORE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 pading0">
                        <div class="events">
                            <img alt="customisation" title="customisation" ng-src="frontend/img/customis.gif" class="maxwidth img-responsive">
                            <div class="over-layer text-center" ui-sref="customisation({id:currentStateId})">
                                <div class="button-holder">
                                    <button class="ext-detail">KNOW MORE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center" ng-show="!getPackage">
                    <h4 class="nodata">No Result Found</h4>
                </div>
                <div class="col-md-12  col-sm-12 col-xs-12 loadimag text-center " ng-hide="getPackage.length == 0">
                    <a class="whit_color" ng-click="loadMorePackage()" ng-if="viewMore">VIEW  MORE</a>
                    <a class="whit_color" ng-if="viewLess && !viewMore" ng-click="loadLessPackage()">VIEW  LESS</a>
                </div>
            </div>
            <!---PACKAGES END ---->

            <!---ACTIVIES START---->
            <div class="{{classp}} whatsmarg4 displaynonpata" ng-if="tabs=='az'">
                <div class="row text-center pattmarg2">
                    <span><a ng-click="tabchanges('az',1)" class=" patpack2 whit_color theboldfont ">ACTIVITIES</a></span>
                    <span><a ng-click="tabchanges('bz',2)" class=" patpack theboldfont ">PACKAGES </a></span>
                </div>

                <div class="whatsmain">
                    <div class="margincheck">
                        <div class="row checkboxrow Robotor bluecol yellow_back_color">
                            <div class="col-md-4 col-sm-6 col-xs-12  pading5 ">
                                <div class="checkbox checkboxing">
                                    <input value="{{location.value}}" type="checkbox" ng-model="selectedAll.location" ng-click="checkAllLocation()" id="later">
                                    <label for="later"><span></span> All</label>
                                </div>
                                <div class="checkbox checkboxing">
                                    <input type="checkbox" ng-model="day.model" id="day" ng-click="searchDay()">
                                    <label for="day"><span></span>Day</label>
                                    <img  src="frontend/img/Vector-Smart-Object1.png" alt="" class="check_img">
                                    <input type="checkbox" ng-model="night.model" id="night" ng-click="searchNight()">
                                    <label for="night"><span></span> Night</label>
                                    <img src="frontend/img/Vector.png" alt="" class="check_img vector">
                                </div>
                            </div>
                            <!-- <div class="col-md-4 col-sm-6 col-xs-12  pading5 ">
                                <div class="checkbox checkboxing">
                                    <input value="{{location.value}}" type="checkbox" ng-model="selectedAll.location" ng-click="checkAllLocation()" id="later">
                                    <label for="later"><span></span> All</label>
                                </div>
                                <div class="checkbox checkboxing" ng-repeat="location in locationArr track by $index">
                                    <input type="checkbox" ng-model="locationArr[$index].model" id="{{location.value}}" ng-change="searchExpert()" id="me">
                                    <label for="{{location.value}}"><span></span> {{location.value}}</label>
                                    <img alt="" title=""  src="{{location.image}}" alt="" class="check_img {{location.imageClass}}">
                                </div>
                            </div> -->
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                <p>Customise your trip by adding to cart</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pattmarg3" ng-hide="noResult">
                    <div class="col-md-3 col-sm-4 col-xs-12 pading0" ng-repeat="data in getActivity">
                        <div class="flipDiv">
                            <figure>
                                <div class="front">
                                    <img alt="{{data.name}}" title="{{data.name}}" ng-src="{{data.image1 |serverimage:544:545}}" alt="" class="maxwidth img-responsive" ng-click="addTocart(data)">
                                    <div class="cart-sec">
                                        <button class="cart uppercase" ng-click="addTocartOnActivity(data._id,data.typeCart);">
                                          <i   ng-if="!isInWishlistActivity(data._id)"  ng-click="cartd();"><img  src="frontend/img/cartremove.png" class="cartsi img-responsive" ></i>
                                          <i  ng-if="isInWishlistActivity(data._id)" ng-click="cartr();"><img  src="frontend/img/cartadd.png" class="cartsi img-responsive"></i>
                                      </button>
                                    </div>
                                    <div class="shadow-down"></div>
                                    <div class="event-name">
                                        <span>{{data.name}}</span>
                                    </div>
                                </div>
                                <figcaption>
                                    <div class="cart-sec">
                                        <button class="cart uppercase" ng-click="addTocartOnActivity(data._id,data.typeCart);">
                                        <i   ng-if="!isInWishlistActivity(data._id)"  ng-click="cartd();"><img  src="frontend/img/cartremove.png" class="cartsi img-responsive" ></i>
                                        <i  ng-if="isInWishlistActivity(data._id)" ng-click="cartr();"><img  src="frontend/img/cartadd.png" class="cartsi img-responsive"></i>
                                    </button>
                                    </div>





                                  
                                    <div class="descrip" ng-if="data.description">
                                      <p ng-bind-html="data.description | htmlDecode | letterLimit: 255">
                                      </p>

                                    </div>



                                    <!-- <div ng-if="!addedSuccessPattaya" class="descrip" ng-bind-html="data.description | shorten :180"></div>
                                    <div ng-if="addedSuccessPattaya" class="descrip" ><p class="toppad">Your query has been added to the cart.</p></div> -->

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="marg45 text-center" ng-show="noResult && !viewMoreActivity">
                    <h4 class="nodata">No Result Found</h4>
                </div>
                <div class="col-md-12  col-sm-12 col-xs-12 loadimag text-center " ng-hide="getActivity.length == 0">
                    <a class="whit_color" ng-click="loadMorePackage()" ng-if="viewMoreActivity">VIEW  MORE</a>
                    <a class="whit_color" ng-if="viewLessActivity && !viewMoreActivity" ng-click="searchExpert()">VIEW  LESS</a>
                </div>
            </div>
            <!---ACTIVIES END  ---->
        </div>
    </div>
</div>

<!---START ENQUIRE FORM   ---->
<div class="eqform eq displaynon">
    <div class="container">
        <div class="rotat">
            <div class="row hei">
                <!-- <div class="show-div" ng-show="enquirybtn" ng-if="!submitEnq"> -->
                <div class="show-div" ng-show="enquirybtn">
                    <!-- <div class=""> -->
                    <div class="col-md-3 col-sm-3">
                        <div class="pattsocial2">
                            <ul class="list-group socialpatt yellow_back_lightcolor ">
                                <li ng-click="headerCartOpenUp(); enquirybtn = !enquirybtn" ng-class="{ active: enquirybtn }" class="Roboto black fontsizep white_back_color">ENQUIRE NOW</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9 yellow_back_lightcolor pattform">
                        <form name="myForm" ng-submit="enquirySubmit(enquiryData,myForm)">
                            <div class="col-md-6  col-sm-6 padboth15">
                                <input type="text" class="hideinput form-control Roboto" placeholder="Interested Cities" name="cities" ng-model="enquiryData.cities" required>
                                <p class="error" ng-show="myForm.cities.$invalid && myForm.cities.$touched">Interested Cities is required</p>
                            </div>
                            <div class="col-md-6 col-sm-6 padboth15">
                                <input type="text" class="hideinput form-control Roboto" placeholder="Interested Activities" name="activitie" ng-model="enquiryData.activities" required>
                                <p class="error" ng-show="myForm.activitie.$invalid && myForm.activitie.$touched">Interested Activities is required</p>
                            </div>
                            <div class="col-md-3 col-sm-3 padboth15">
                                <input type="number" class="hideinput form-control Robotor" placeholder="Group Size" name="size" ng-model="enquiryData.size" required>
                                <p class="error" ng-show="myForm.size.$invalid && myForm.size.$touched">Group Size is required</p>
                            </div>

                            <div class="col-md-5 col-sm-5 padboth15">
                                <input type="date" class="hideinput form-control Robotor" placeholder="From" name="from" ng-model="enquiryData.from" min="{{currentDate | date:'yyyy-MM-dd'}}" required>
                                <p class="error" ng-show="myForm.from.$invalid && myForm.from.$touched">From is required</p>
                            </div>
                            <div class="col-md-4 col-sm-4 padboth15">
                                <input type="date" ng-disabled="!enquiryData.from" class="hideinput form-control Robotor" placeholder="To" name="to" ng-model="enquiryData.to" min="{{enquiryData.from | date:'yyyy-MM-dd'}}" required>
                                <p class="error" ng-show="myForm.to.$invalid && myForm.to.$touched">To is required</p>
                            </div>

                            <div class="col-md-12 col-sm-12 padboth15">
                                <textarea type="text" class="hideinput form-control Roboto text-height" rows="6" placeholder="Special Comments" name="comments" ng-model="enquiryData.comment" required></textarea>
                                <p class="error" ng-show="myForm.comments.$invalid && myForm.comments.$touched">Special Comments is required</p>
                            </div>

                            <div class="col-md-6 col-sm-6 padboth15">
                                <input type="text" class="hideinput form-control Robotor" placeholder="Name" name="name" ng-model="enquiryData.name" required>
                                <p class="error" ng-show="myForm.name.$invalid && myForm.name.$touched">Name is required</p>
                            </div>
                            <div class="col-md-6 col-sm-6 padboth15">
                                <input type="number" class="hideinput form-control Robotor" placeholder="Phone No" name="phone" ng-model="enquiryData.phone" required minlength="10" maxlength="10">
                                <p class="error" ng-show="myForm.phone.$invalid && myForm.phone.$touched">Phone No is required</p>
                            </div>

                            <div class="col-md-8 col-sm-8 ">
                                <input type="email" class="hideinput form-control Robotor" placeholder="Email ID" name="email" ng-model="enquiryData.email" required>
                                <p class="error" ng-show="myForm.email.$invalid && myForm.email.$touched">Email ID is required</p>
                            </div>
                            <div class="col-md-4 col-sm-3 ">
                                <button ng-click="enquirybtn = !enquirybtn" ng-disabled="myForm.$invalid" ng-class="{ active: enquirybtn }" type="submit" class="btn btn-submit">Submit</button>
                            </div>
                        </form>
                    </div>
                    <!-- </div> -->
                </div>
                <!-- <div ng-if="submitEnq">
                  <div class="mycart2 enqcart2">
                      <ul class="list-group socialpatt yellow_back_lightcolor ">
                          <li ng-click="headerCartOpenUp(); enquirybtn = !enquirybtn" ng-class="{ active: enquirybtn }" class="Roboto black fontsizep white_back_color active" style="">ENQUIRE NOW</li>
                      </ul>
                  </div>
                  <div class="cartsum enqcart" >Thank you for submitting the details. We'll get in touch with you soon.</div>
                </div> -->
            </div>
        </div>
        <div class="pattsocial " ng-hide="enquirybtn || mycart10">
            <ul class="list-group socialpatt yellow_back_lightcolor">
                <li ng-click="headerCartOpen(); enquirybtn = !enquirybtn" ng-class="{ active: enquirybtn }" class="Roboto black fontsizep">ENQUIRE NOW
                </li>
            </ul>
        </div>
    </div>
</div>
<!---END ENQUIRE FORM ---->

<!---TRIP DETAILS START  ---->
<div class="whatsmain pad10">
    <div class="container ">
        <div class="col-md-12 margin3">
            <div class="whatsmarg4">

                <!---START VIDEO FRAME ---->
                <div class="pad15pat embed-responsive embed-responsive-16by9" ng-if="getDestination.video">
                    <iframe id="test" class="embed-responsive-item" ng-if="getDestination.video" ng-src="{{'https://www.youtube.com/embed/'+getDestination.video|trusted}}"></iframe>
                </div>
                <!---END VIDEO FRAME ---->
                <!---START ACCORDION ---->
                <div class="row pregular">
                    <uib-accordion close-others="true">
                        <div uib-accordion-group is-open="accordian[$index].isFirstOpen" class="panel-default panelacor" ng-class="{'yellow_back_color': accordian[$index].isFirstOpen, '': !accordian[$index].isFirstOpen}" ng-repeat="data in getTitle">
                            <uib-accordion-heading>
                                <div class="fontpanel Pregular bluecol" ng-class="{'yellow_back_color': accordian[$index].isFirstOpen, '': !accordian[$index].isFirstOpen}">
                                    <img alt="{{data.name}}" title="{{data.name}}" ng-src="{{data.name | TbtIcon}}" class="image_title"> {{data.name}}
                                    <i class="pull-right fa " ng-class="{'fa fa-minus':  accordian[$index].isFirstOpen, 'fa fa-plus': !accordian[$index].isFirstOpen}"></i>
                                </div>
                            </uib-accordion-heading>
                            <!-- Please Remove the Below Comment -->
                            <div class=" padding30">
                                <!-- <div class=" padding30" ng-repeat="x in DestinationTitle"> -->
                                <ul class="list-group socialpatt">
                                    <li class="Robotor bluecol" ng-if="{{data.name1}}">
                                        <strong class="padding15">{{data.name1}}</strong>
                                    </li>
                                    <p class="Robotor" ng-bind-html="data.description"></p>
                                </ul>
                                <!-- <div class="row padding30">
                                    <div class="col-md-3 col-sm-3 col-xs-3  pading0" ng-repeat="image in x.images">
                                        <figure>
                                            <img alt="" title=""  class="img-responsive" src="{{image.image | serverimage}}">
                                        </figure>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </uib-accordion>
                </div>
                <!-- END ACCORDION -->
            </div>
        </div>
    </div>
</div>
