<!---date selibration ---->
<div class="container text-center">
    <h1 class="theboldfont yellow_color fsiz">DESTINATIONS</h1>
</div>

<figure>
    <img class="mainwidht" ng-src="{{DestinationLand.Banner.banner | serverimage}}">
</figure>

<div class="pad9">
    <div class="container ">
        <div class="col-md-12 m4">
            <div class="m2">
                <!---POPULAR DESTINATIONS ---->
                <div class="row pd15">
                    <h1 class="theboldfont whit_color">POPULAR<br>DESTINATIONS</h1>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 pdt15 " ng-repeat ="data in DestinationLand.popularDestination">
                        <!-- <div class="flipDiv"> -->
                            <figure>
                                <div class="front">
                                    <a ui-sref="pattaya({id:data._id})"><img ng-src="{{data.image | serverimage}}" alt="" class="img-responsive"></a>
                                    <!-- <div class="shadow-down"></div> -->
                                    <div class="event-name">
                                        <span>{{data.name}}</span>
                                    </div>
                                </div>
                                <!-- <figcaption>
                                  <div ng-bind-html="data.description">

                                  </div>
                                     <h2>This is a cool title!</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost.</p> -->
                                <!-- </figcaption>  -->
                            </figure>
                        <!-- </div> -->
                    </div>
                    <!-- <div class="col-md-6 col-sm-6 col-xs-12  ">
                      <div class="flipDiv">
                          <figure>
                              <div class="front">
                                  <img src="frontend/img/rockclimb.png" alt="" class="img-responsive">
                                  <div class="shadow-down"></div>
                                  <div class="event-name">
                                      <span>BUNGEE JUMPING</span>
                                  </div>
                              </div>
                              <figcaption>
                                  <h2>This is a cool title!</h2>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost.</p>
                              </figcaption>
                          </figure>
                      </div>
                    </div> -->
                </div>

                <!---ALL DESTINATIONS ---->
                <div class="row pd15">
                    <h1 class="theboldfont whit_color">ALL<br>DESTINATIONS</h1>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12 pdt15" ng-repeat="data in allDestination">
                      <!-- <div class="flipDiv"> -->
                          <figure>
                              <div class="front">
                                  <a ui-sref="pattaya({id:data._id})"><img ng-src="{{data.image | serverimage}}" alt="" class="img-responsive"></a>
                                  <!-- <div class="shadow-down"></div> -->
                                  <div class="event-name">
                                      <span>{{data.name}}</span>
                                  </div>
                              </div>
                              <!--<figcaption>
                                <div ng-bind-html="data.description"></div>
                                   <h2>This is a cool title!</h2>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost.</p>
                              </figcaption>-->
                          </figure>
                      <!-- </div> -->
                    </div>
                    <!-- <div class="col-md-4 col-sm-4 col-xs-12 pdt15">
                      <div class="flipDiv">
                          <figure>
                              <div class="front">
                                  <img src="frontend/img/rafting1.png" alt="" class="img-responsive">
                                  <div class="shadow-down"></div>
                                  <div class="event-name">
                                      <span>BUNGEE JUMPING</span>
                                  </div>
                              </div>
                              <figcaption>
                                  <h2>This is a cool title!</h2>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost.</p>
                              </figcaption>
                          </figure>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 pdt15">
                      <div class="flipDiv">
                          <figure>
                              <div class="front">
                                  <img src="frontend/img/rafting1.png" alt="" class="img-responsive">
                                  <div class="shadow-down"></div>
                                  <div class="event-name">
                                      <span>BUNGEE JUMPING</span>
                                  </div>
                              </div>
                              <figcaption>
                                  <h2>This is a cool title!</h2>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost.</p>
                              </figcaption>
                          </figure>
                      </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12 pdt15">
                      <div class="flipDiv">
                          <figure>
                              <div class="front">
                                  <img src="frontend/img/rafting1.png" alt="" class="img-responsive">
                                  <div class="shadow-down"></div>
                                  <div class="event-name">
                                      <span>BUNGEE JUMPING</span>
                                  </div>
                              </div>
                              <figcaption>
                                  <h2>This is a cool title!</h2>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost.</p>
                              </figcaption>
                          </figure>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 pdt15">
                      <div class="flipDiv">
                          <figure>
                              <div class="front">
                                  <img src="frontend/img/rafting1.png" alt="" class="img-responsive">
                                  <div class="shadow-down"></div>
                                  <div class="event-name">
                                      <span>BUNGEE JUMPING</span>
                                  </div>
                              </div>
                              <figcaption>
                                  <h2>This is a cool title!</h2>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost.</p>
                              </figcaption>
                          </figure>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 pdt15">
                      <div class="flipDiv">
                          <figure>
                              <div class="front">
                                  <img src="frontend/img/rafting1.png" alt="" class="img-responsive">
                                  <div class="shadow-down"></div>
                                  <div class="event-name">
                                      <span>BUNGEE JUMPING</span>
                                  </div>
                              </div>
                              <figcaption>
                                  <h2>This is a cool title!</h2>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost.</p>
                              </figcaption>
                          </figure>
                      </div>
                    </div> -->
                    <div class="col-md-12 col-sm-12 col-xs-12  lodm text-center ">
                        <a class="whit_color" ng-click="viewMoreDest()" ng-if="!show">VIEW  MORE</a>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12  lodm text-center ">
                        <a class="whit_color" ng-click="viewLessDest()" ng-if="show" >VIEW  LESS</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!---email update  ---->
<div class="eupt">
    <div class="container">
        <div class="row">
            <form name="myForm">
                <div class="col-md-4 col-sm-4 col-xs-12 ge">GET EMAIL UPDATE</div>
                <div class="col-md-5 col-sm-4 col-xs-12 ie">
                    <input type="text" placeholder="Your email address" class="form-control" name="email" ng-modal="email.myForm" required>
                    <p class="error" ng-show="myForm.email.$error.required && myForm.email.$dirty">Email is required</p>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12 es">
                    <button type="submit">SUBSCRIBE</button>
                </div>
            </form>
        </div>
    </div>
</div>
