<!-- START DESTINATION -->
<div class="container text-center">
    <h1 class="theboldfont yellow_color fsiz">DESTINATIONS</h1>
</div>
<!-- START BANNER -->
<figure>
    <img class="mainwidht" ng-src="{{DestinationLand.Banner.banner | serverimage}}">
</figure>
<!-- END BANNER -->

<div class="pad9">
    <div class="container ">
        <div class="col-md-12 m4">
            <div class="m2">
                <!---START POPULAR DESTINATIONS ---->
                <div class="row pd15">
                    <h1 class="theboldfont whit_color">POPULAR<br>DESTINATIONS</h1>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 pdt15 " ng-repeat="data in DestinationLand.popularDestination">
                        <figure>
                            <div class="front">
                                <a ui-sref="pattaya({id:data._id})"><img ng-src="{{data.image | serverimage}}" alt="" class="img-responsive"></a>
                                <div class="event-name">
                                    <span>{{data.name}}</span>
                                </div>
                            </div>
                        </figure>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="slidershow">
                            <flex-slider prev-text="" next-text="" flex-slide="data in DestinationLand track by $index" class="desti m1 figure922 yellow_back_color">
                                <li>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12 padd15px" ng-repeat="data2 in data">
                                            <div class="firstimg">
                                                <div class="front">
                                                    <a ui-sref="pattaya({id:data2._id})"><img ng-src="{{data2.image | serverimage}}" alt="" class="img-responsive"></a>
                                                    <div class="event-name">
                                                        <span>{{data2.name}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </flex-slider>
                        </div>
                    </div>
                </div>
                <!---END POPULAR DESTINATIONS ---->

                <!---START ALL DESTINATIONS ---->
                <div class="row pd15">
                    <h1 class="theboldfont whit_color">ALL<br>DESTINATIONS</h1>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12 pdt15" ng-repeat="data in allDestination">
                        <figure>
                            <div class="front imgactive">
                                <a ui-sref="pattaya({id:data._id})"><img ng-src="{{data.image | serverimage}}" alt="" class="img-responsive"></a>
                                <div class="event-name">
                                    <span>{{data.name}}</span>
                                </div>
                            </div>
                        </figure>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12  lodm text-center ">
                        <a class="whit_color" ng-click="viewMoreDest()" ng-if="!show">VIEW  MORE</a>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12  lodm text-center ">
                        <a class="whit_color" ng-click="viewLessDest()" ng-if="show">VIEW  LESS</a>
                    </div>
                </div>
                <!--- END ALL DESTINATIONS ---->
            </div>
        </div>
    </div>
</div>
<!-- END DESTINATION -->
