<!-- START DESKTOP SLIDER -->
<div class="homeslidr hidden-xs">
    <flex-slider id="homeslider" flex-slide="s in mySlidestop track by $index" slideshow-speed="2500" slideshow="true" animation-speed="1000" class="m1 carousel">
        <li>
            <img alt="tbt" title="tbt" class="img-responsive " ng-src="{{s.image|serverimage}}">
        </li>
    </flex-slider>
</div>
<!-- END DESKTOP -->

<!-- START MOBILE SLIDER -->
<div class="homeslidr hidden-sm hidden-md hidden-lg">
    <flex-slider flex-slide="s in mySlidestop track by $index" class="m1">
        <li>
            <div class="item">
                <figure class=" ng-scope">
                    <!-- <a href={{s.url}} target="_blank"> -->
                    <img alt="tbt" title="tbt" class="img-responsive " ng-src="{{s.image2|serverimage}}">
                    <!-- </a> -->
                </figure>
            </div>
        </li>
    </flex-slider>
</div>
<!-- END MOBILE SLIDER -->
<!-- START POPULAR -->
<div class="container display">
    <div class="row ">
        <div class="col-xs-12">
            <p class=" disp pregular" ui-sref="destination">POPULAR</p>
            <p class="disp2 theboldfont" ui-sref="destination">DESTIN ATIONS</p>
        </div>
    </div>
</div>
<div class="m8">
    <div class="mr">
        <div class="container borderup">
            <div class="addimg">
                <img alt="destination" title="destination" src="frontend/img/+img.png" class="img-responsive" ui-sref="destination">
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4  col-xs-6 displaynon padng0">
                    <p class="p p11 pregular" ui-sref="destination">POPULAR</p>
                    <p class="p2 p22 theboldfont" ui-sref="destination">DESTIN ATIONS</p>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6  padng0" ng-repeat="x in popularDestination | limitTo : 4">
                    <div class="eventshome">
                        <a ui-sref="customdestination({id:x._id})">
                            <img alt="{{x.name}}" title="{{x.name}}" ng-src="{{x.image|serverimage:544:545}}" class="img-responsive">
                            <div class="shadow-down"></div>
                            <div class="event-name">
                                <span>{{x.name}}</span>
                            </div>
                            <div class="over-layer text-center">
                                <div class="hoverimg">
                                    <img alt="ggl" title="ggl" class="img-responsive" src="frontend/img/ggl.png">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--second div -->
    <div class="ml">
        <div class="container borderdown">
            <div class="addimg1">
                <img alt="activity" title="activity" src="frontend/img/+img.png" class="img-responsive" ui-sref="activity">
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-6 padng0" ng-repeat="x in popularAttraction | limitTo : 4">
                    <div class="eventshome" ui-sref="customdestination({id:x.destination})">
                        <img alt="{{x.name}}" title="{{x.name}}" src="{{x.image1 | serverimage:544:545}}" class="img-responsive">
                        <div class="shadow-down"></div>
                        <div class="event-name">
                            <span>{{x.name}}</span>
                        </div>
                        <div class="over-layer text-center">
                            <div class="hoverimg">
                                <img alt="ggl" title="ggl" class="img-responsive" src="frontend/img/ggl.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 displaynon padng0">
                    <p class="p p1 theboldfont" ui-sref="activity">POPULAR</p>
                    <p class="p2 p222 theboldfont" ui-sref="activity">ATTRA
                        <br>CTIONS</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container display2">
    <div class="row ">
        <div class="col-xs-12">
            <p class=" disp pregular" ui-sref="activity">POPULAR</p>
            <p class="disp2 theboldfont" ui-sref="activity">ATTRA CTIONS</p>
        </div>
    </div>
</div>
<!-- END POPULAR -->

<!-- START VIDEO SECTION-->
<div class="whatsmain pad10">
    <div class="container ">
      <!-- START IMAGE SECTION -->
        <div class="col-md-12" ng-hide="showVideo" ng-click="hideShow();">
            <div class="hompad8">
                <figure>
                    <div class="front">
                        <img alt="videoright" title="videoright" class="rightimg img-responsive" src="frontend/img/videoright.png">
                        <img alt="videoleft" title="videoleft" class="padimg img-responsive" src="frontend/img/youtube_home.jpg">
                        <img alt="videoleft" title="videoleft" class="leftimg img-responsive" src="frontend/img/videoleft.png">
                    </div>
                </figure>
            </div>
        </div>
        <!-- END IMAGE SECTION -->

        <!-- START VIDEO SECTION -->
        <div class="col-md-12" ng-show="showVideo">
            <div class="hompad8">
                <div class="pad15pat embed-responsive embed-responsive-16by9">
                    <img alt="videoright" title="videoright" class="rightimg img-responsive" src="frontend/img/videoright.png">
                    <iframe class="pad15 embed-responsive-item" src="https://www.youtube-nocookie.com/embed/dK73eBFycIo?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1" frameborder="0"></iframe>
                    <img alt="videoleft" title="videoleft" class="leftimg img-responsive" src="frontend/img/videoleft.png">
                </div>
            </div>
        </div>
        <!-- END VIDEO SECTION -->
    </div>
</div>
</div>
<!-- END VIDEO SECTION-->

<!-- START SELECT FOR CUSTOMISATION -->
<div class="padd paddup">
    <figure class="m2">
        <img alt="4" title="4" class="img-responsive" src="frontend/img/4.jpg">
        <figcaption>
            <div class="links">
                <div class="onimg">
                    <img alt="6" title="6" class="imgab" src="frontend/img/6.png">
                    <form class="himg2" ng-submit="goto(formdata)" ng-init="abc">
                        <label class="pregular labsec">I want to go to</label>
                        <fieldset class="inputtag">
                            <ui-select ng-model="ctrl.person.selected" ng-change="forSearch($select.selected._id)" class="plan-dark-bold ">
                                <ui-select-match placeholder="Select Destination">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item in dropDown | orderBy:'name' | filter: {name:$select.search}">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </fieldset>
                        <!-- <select class="form-control plan-dark-bold " ng-model="selected_id" ng-options="o._id as o.name for o in dropDown" ng-change="selectDesti(selected_id);">
                            <option  class="homescrollbar" value="">Select Destination</option>
                          </select> -->
                        <button type="submit" class="gobtn" ng-click="goOn(thisId)">GO</button>
                    </form>
                </div>
            </div>
        </figcaption>
    </figure>
</div>
<!--  END FOR CUSTOMISATION-->
<!-- START ABOUT -->
<div class="aboutin">
    <div class="imAb"> <img alt="wd" title="wd" class="img-responsive " src="frontend/img/wd.png"></div>
    <div class="spAb">
        <h1 class="theboldfont">ABOUT US</h1>
        <div class="ain">
            <h3 class="whit_color theboldfont margbotom">May the bachelor in you rest in peace . . .</h3>
            <p class="bluecol Robotor">And this is precisely where we come into the picture - to organise <strong class="abinfo pregular bluecol">THE</strong> trip to bid adieu to your <strong class="abinfo pregular bluecol">bachelorhood!</strong> <br>An event of a lifetime needs
                a trip that is on par with it, a trip you won’t be able to forget about but also the kind you wouldn’t be able to talk to everyone about..<br>Our Motto is to ensure that you have the best stag or hens do, one that would be far greater
                than <strong class="abinfo pregular bluecol">The hangover</strong>. We understand you will only have one such trip in your lifetime and we strive to make it larger-than-life kinds; the ones with happy endings (wink wink!). <br>We have
                it all; on a scale from Doug to Mr. Chow depending on how much you would prefer indulging.
            </p>
            <!-- <h3 class="whit_color theboldfont margbotom">THERE ARE SOME EXPERIENCES THAT COME ONCE IN YOUR LIFETIME.</h3>
            <p class="bluecol Robotor">And your <strong class="abinfo pregular bluecol">Bachelor Trip</strong> is definitely one of them. We're the first Indian company that taken it upon itself to give you the best Bachelor Trip plan. Planning your trip with us gives you access
                to parties across the <strong class="abinfo pregular bluecol">globe</strong>, crazy adrenaline pumping adventures you've been wanting to try out and some of naughty affairs you wouldn't mind indulging in. The best of experiences offered
                globally, handpicked and ready to explore, just for you. So sit back, relax and let the professionals handle your <strong class="abinfo pregular bluecol">Bachelor Trip planning!</strong></p> -->
        </div>
        <P class="sado"><a class="whit_color" ui-sref="aboutus">KNOW THE TEAM</a></P>
    </div>
</div>
<!-- END ABOUT -->
<!-- START SLIDER  -->
<div class="padd padddown homeslid">
    <flex-slider flex-slide="data in mySlidesss track by $index" slideshow-speed="2500" slideshow="true" animation-speed="1000" class="carousel">
        <li>
            <div class="item">
                <figure class="mim-home ng-scope">
                    <a ui-sref="whats-hot"><img alt="whats-hot" title="whats-hot" class="img-responsive " ng-src="{{data.banner | serverimage}}"></a>
                </figure>
            </div>
        </li>
    </flex-slider>
</div>
<!-- END SLIDER  -->
