<!-- START DESKTOP SLIDER -->
<div class="homeslidr hidden-xs">
    <flex-slider flex-slide="s in mySlidestop track by $index" class="m1 figure922">
        <li>
            <div class="item">
                <figure class=" ng-scope">
                    <a href={{s.url}} target="_blank">
                        <img class="img-responsive " ng-src="{{s.image|serverimage}}">
                    </a>
                </figure>
            </div>
        </li>
    </flex-slider>
</div>
<!-- END DESKTOP -->
<!-- START MOBILE SLIDER -->
<div class="homeslidr hidden-sm hidden-md hidden-lg">
    <flex-slider flex-slide="s in mySlidestop track by $index" class="m1 figure922">
        <li>
            <div class="item">
                <figure class=" ng-scope">
                    <a href={{s.url}} target="_blank">
                        <img class="img-responsive " ng-src="{{s.image2|serverimage}}">
                    </a>
                </figure>
            </div>
        </li>
    </flex-slider>
</div>
<!-- END MOBILE SLIDER -->
<!-- START POPULAR -->
<div class="container ">
    <div class="row display">
        <p class=" disp pregular" ui-sref="destination">POPULAR</p>
        <p class="disp2 theboldfont" ui-sref="destination">DESTIN ATIONS</p>
    </div>
</div>
<div class="m8">
    <div class="mr">
        <div class="container borderup">
            <div class="addimg">
                <img src="frontend/img/+img.png" alt="" class="img-responsive" ui-sref="destination">
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4  col-xs-6 displaynon padng0">
                    <p class="p p11 pregular" ui-sref="destination">POPULAR</p>
                    <p class="p2 p22 theboldfont" ui-sref="destination">DESTIN ATIONS</p>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6  padng0" ng-repeat="x in popularDestination | limitTo : 4">
                    <div class="eventshome">
                        <a ui-sref="pattaya({id:x._id})">
                            <img ng-src="{{x.image|serverimage}}" alt="" class="img-responsive">
                            <div class="shadow-down"></div>
                            <div class="event-name">
                                <span>{{x.name}}</span>
                            </div>
                            <div class="over-layer text-center">
                                <div class="hoverimg">
                                    <img class="img-responsive" src="frontend/img/ggl.png">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--second div -->
    <div class="ml">
        <div class="container borderdown">
            <div class="addimg1">
                <img src="frontend/img/+img.png" alt="" class="img-responsive" ui-sref="activity">
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-6 padng0" ng-repeat="x in popularAttraction | limitTo : 4">
                    <div class="eventshome" ui-sref="pattaya({id:x.destination})">
                        <img src="{{x.image1 | serverimage}}" alt="" class="img-responsive">
                        <div class="shadow-down"></div>
                        <div class="event-name">
                            <span>{{x.name}}</span>
                        </div>
                        <div class="over-layer text-center">
                            <div class="hoverimg">
                                <img class="img-responsive" src="frontend/img/ggl.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 displaynon padng0">
                    <p class="p p1 theboldfont" ui-sref="activity">POPULAR</p>
                    <p class="p2 p222 theboldfont" ui-sref="activity">ATTRA
                        <br>CTIONS</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container ">
    <div class="row display2">
        <p class=" disp pregular" ui-sref="activity">POPULAR</p>
        <p class="disp2 theboldfont" ui-sref="activity">ATTRA CTIONS</p>
    </div>
</div>
<!-- END POPULAR -->
<!-- START SELECT FOR CUSTOMISATION -->
<div class="padd paddup">
    <figure class="m2">
        <img class="img-responsive" src="frontend/img/4.jpg">
        <figcaption>
            <div class="links">
                <div class="onimg">
                    <img class="imgab" src="frontend/img/6.png">
                    <form class="himg2" ng-submit="goto(formdata)" ng-init="abc">
                        <label class="pregular labsec">I want to go to</label>
                        <select class="form-control Robotor" ng-model="selected_id" ng-options="o._id as o.name for o in dropDown" ng-change="selectDesti(selected_id);">
                            <option value="">Select Destination</option>
                          </select>
                        <button type="submit" class="gobtn" ng-click="goOn(selected_id)">GO</button>
                    </form>
                </div>
            </div>
        </figcaption>
    </figure>
</div>
<!--  END FOR CUSTOMISATION-->
<!-- START ABOUT -->
<div class="aboutin">
    <img class="img-responsive imAb" src="frontend/img/wd.png">
    <span class="spAb"><h1 class="theboldfont">ABOUT US</h1>
      <P class="ain">Lorem lpsum is simply dummy text of the printing and typestting industry. Lorem lpsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a gallery of type and scrambled ir to make a type specimen book It has survived not only five centries, but also the leap into electronic typesetting,remaining essentially unchanged. Lorem Ipsum is simply summy text....</P>
      <P class="sado"><a  class="whit_color" ui-sref="home" >KNOW THE TEAM</a></P>
   </span>
</div>
<!-- END ABOUT -->
<!-- START SLIDER  -->
<div class="padd padddown homeslid">
    <flex-slider flex-slide="data in mySlidesss track by $index" class="m1">
        <li>
            <div class="item">
                <figure class="mim-home ng-scope">
                    <img class="img-responsive " ng-src="{{data.banner | serverimage}}">
                </figure>
            </div>
        </li>
    </flex-slider>
</div>
<!-- END SLIDER  -->
