<!-- START BANNER -->
<div class="container ">
    <figure class="m1 figure922">
        <img alt="mediacorner" title="mediacorner"  class="img-responsive" src="frontend/img/12.jpg">
        <!-- <img alt="" title=""  class="img-responsive" ng-src="{{Banner.banner | serverimage}}"> -->

    </figure>
</div>
<!--END BANNER -->

<!-- START  MediaCorner -->
<div class="container">
    <div class="row">
        <div class="col-md-12 pd50 activi">
            <div class="category corpad6">

                <!-- END DROP DOWN -->
                <!-- <div ng-repeat="n in activityLoop" ng-if="showBttn.length!=0"> -->
                <div class="paddcorn1">
                    <div class="row">
                        <!-- <div class="col-md-4 col-sm-4 col-xs-12 paddiv6 " ng-if="activityLand.smallImage[n]" ng-repeat="smallImg in  activityLand.smallImage[n]"> -->
                        <div class="col-md-4 col-sm-6 col-xs-12 paddiv6 ">
                            <figure>
                                <a><img alt="" title=""  src="frontend/img/Layer.jpg" class="img-responsive"></a>
                                <div class="datename bluecol_back">
                                    <p>18 oct 2016</p>
                                </div>
                            </figure>
                            <p class="corndis bluecol">fdkf jfknjks sjkfnkasafas fasafnsf asjkfasanf asajfnasj fjkasnfk asjfn</p>
                            <div class="readm text-center">
                                <a class="whit_color ng-scope">READ  MORE</a>
                            </div>
                        </div>
                        <!--  reeat div start-->
                        <div class="col-md-4 col-sm-6 col-xs-12 paddiv6 ">
                            <figure>
                                <a><img src="frontend/img/Layer.jpg" class="img-responsive"></a>
                                <div class="datename bluecol_back">
                                    <p>18 oct 2016</p>
                                </div>
                            </figure>
                            <p class="corndis bluecol">fdkf jfknjks sjkfnkasafas fasafnsf asjkfasanf asajfnasj fjkasnfk asjfn</p>
                            <div class="readm text-center">
                                <a class="whit_color ng-scope">READ  MORE</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 paddiv6 ">
                            <figure>
                                <a><img src="frontend/img/Layer.jpg" class="img-responsive"></a>
                                <div class="datename bluecol_back">
                                    <p>18 oct 2016</p>
                                </div>
                            </figure>
                            <p class="corndis bluecol">fdkf jfknjks sjkfnkasafas fasafnsf asjkfasanf asajfnasj fjkasnfk asjfn</p>
                            <div class="readm text-center">
                                <a class="whit_color ng-scope">READ  MORE</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 paddiv6 ">
                            <figure>
                                <a><img src="frontend/img/Layer.jpg" class="img-responsive"></a>
                                <div class="datename bluecol_back">
                                    <p>18 oct 2016</p>
                                </div>
                            </figure>
                            <p class="corndis bluecol">fdkf jfknjks sjkfnkasafas fasafnsf asjkfasanf asajfnasj fjkasnfk asjfn</p>
                            <div class="readm text-center">
                                <a class="whit_color ng-scope">READ  MORE</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 paddiv6 ">
                            <figure>
                                <a><img src="frontend/img/Layer.jpg" class="img-responsive"></a>
                                <div class="datename bluecol_back">
                                    <p>18 oct 2016</p>
                                </div>
                            </figure>
                            <p class="corndis bluecol">fdkf jfknjks sjkfnkasafas fasafnsf asjkfasanf asajfnasj fjkasnfk asjfn</p>
                            <div class="readm text-center">
                                <a class="whit_color ng-scope">READ  MORE</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 paddiv6 ">
                            <figure>
                                <a><img src="frontend/img/Layer.jpg" class="img-responsive"></a>
                                <div class="datename bluecol_back">
                                    <p>18 oct 2016</p>
                                </div>
                            </figure>
                            <p class="corndis bluecol">fdkf jfknjks sjkfnkasafas fasafnsf asjkfasanf asajfnasj fjkasnfk asjfn</p>
                            <div class="readm text-center">
                                <a class="whit_color ng-scope">READ  MORE</a>
                            </div>
                        </div>
                        <!-- repeat dive end -->
                    </div>
                </div>
                <!-- ERROR BOX -->
                <div class="text-center" ng-if="showBttn.length==0">
                  <h4 class="nodata">No Result Found</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END ACTIVITY -->
