<!-- START PACKEGE-->
<div class="container">
    <figure class="m1">
        <img alt="tbt" title="tbt"  class="img-responsive" ng-src="{{getPattaya2.banner|serverimage}}">
        <figcaption class="fingurback">
            <div class="links2">
                <div class="pattayaimg">
                    <h1 class="pattayah1 theboldfont yellow_color">{{getPattaya2.title1}}</h1>
                    <h1 class="loadh1 pattayah1 theboldfont">{{getPattaya2.title2}}</h1>

                    <p class=" pattp1">({{getPattaya2.duration}})</p>
                    <div class="packw">
                        <span class=" pattp2 yellow_back_lightcolor bluecol">
                        <p class="span">{{getPattaya2.price}}</p>
                      </span>
                    </div>
                </div>
            </div>
        </figcaption>
    </figure>
</div>
<div class=" wtsocial patayasocial">
    <div class="social1">
        <div class="Robotor" ng-click="addTocartOnPackagePattaya2(myIdPattaya2,'Package')">
            <a class="pregular yellow_color">
                <i class="color-white fa fa-shopping-cart socialimg" ng-if="!isInWishlistPackagePattaya2(myIdPattaya2)"></i>
                <i class="yellow_color fa fa-shopping-cart socialimg" ng-if="isInWishlistPackagePattaya2(myIdPattaya2)"></i> ADD TO CART</a>
        </div>
    </div>
    <ul class="ulsocial2 list-group">
        <li class=""><a class="fontsiz yellow_color pregular"><i class="fa fa-share-alt"></i></a></li>
        <li class="ulsocial2i "><a href="https://www.facebook.com/thebachelortrip/" target="_blank" class="bluecol pregular"><i class="fa fa-facebook"></i></a></li>
        <li class="ulsocial2i "><a href="https://twitter.com/TheBachelorTrip" target="_blank" class="bluecol pregular"><i class="fa fa-twitter"></i></a></li>
        <li class="ulsocial2i "><a class="bluecol pregular"><i class="fa fa-envelope"></i></a></li>
    </ul>
</div>
<!-- END PACKEGE -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="categoryup2 yellow_back_lightcolor">
                <div class="row">
                    <div masonry>
                        <div class="masonry-brick padd15px col-md-4" ng-repeat="packdata in getPattaya2.pack">
                            <div class="marginicon">
                                <div class="pattayevents white_back_color">
                                    <img alt="tbt" title="tbt"  ng-src="{{ packdata.image|serverimage  }}" class="img-responsive img-box" >
                                    <div class="tittalep">
                                        <h2 class="bluecol eventh2 Robotor borderhr">{{ packdata.day  }}</h2>
                                        <p class="ulmarg bluecol" ng-bind-html="packdata.description"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center" >
                  <a ui-sref="customdestination({id:getPattaya2.destination})"><button class="pbtn pregular yellow_color btn bluecol_back"type="button" name="button"><span class="pb">BACK TO</span><br><span class="pd">DESTINATION</span></button></a>
                  </div>
            </div>
        </div>
    </div>
</div>

<!---START ENQUIRE FORM   ---->
<div class="eqform eq displaynon">
    <div class="container">
        <div class="rotat">
            <div class="row">
                <div class="show-div" ng-show="enquirybtn">
                    <div class="col-md-3 col-sm-3">
                        <!-- <div class="pattsocial2">
                            <ul class="list-group socialpatt yellow_back_lightcolor ">
                                <li class="Roboto black fontsizep white_back_color">ENQUIRE NOW</li>
                            </ul>
                        </div> -->
                        <div class="pattsocial2">
                            <ul class="list-group socialpatt yellow_back_lightcolor ">
                                <li ng-click="headerCartOpenUp(); enquirybtn = !enquirybtn" ng-class="{ active: enquirybtn }" class="Roboto black fontsizep white_back_color">ENQUIRE NOW</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9 yellow_back_lightcolor pattform">
                        <form name="myForm" ng-submit="enquirySubmit(enquiryData,myForm)">
                            <div class="col-md-6  col-sm-6 padboth15">
                                <input type="text" class="hideinput form-control Roboto" placeholder="Interested Cities" name="cities" ng-model="enquiryData.cities" required>
                                <p class="error" ng-show="myForm.cities.$invalid && myForm.cities.$touched">Interested Cities Size is required</p>
                            </div>
                            <div class="col-md-6 col-sm-6 padboth15">
                                <input type="text" class="hideinput form-control Roboto" placeholder="Interested Activities" name="activitie" ng-model="enquiryData.activities" required>
                                <p class="error" ng-show="myForm.activitie.$invalid && myForm.activitie.$touched">Interested Activities is required</p>
                            </div>
                            <div class="col-md-3 col-sm-3 padboth15">
                                <input type="number" class="hideinput form-control Robotor" placeholder="Group Size" name="size" ng-model="enquiryData.size" required>
                                <p class="error" ng-show="myForm.size.$invalid && myForm.size.$touched">Group Size is required</p>
                            </div>

                            <div class="col-md-5 col-sm-5 padboth15">
                                <input type="date" min="{{currentDate | date:'yyyy-MM-dd'}}" class="hideinput form-control Robotor" placeholder="From" name="from" ng-model="enquiryData.from" required>
                                <p class="error" ng-show="myForm.from.$invalid && myForm.from.$touched">From is required</p>
                            </div>
                            <div class="col-md-4 col-sm-4 padboth15">
                                <input type="date" min="{{enquiryData.from | date:'yyyy-MM-dd'}}" ng-disabled="!enquiryData.from" class="hideinput form-control Robotor" placeholder="To" name="to" ng-model="enquiryData.to" required>
                                <p class="error" ng-show="myForm.to.$invalid && myForm.to.$touched">To is required</p>
                            </div>

                            <div class="col-md-12 col-sm-12 padboth15">
                                <textarea type="text" class="hideinput form-control Roboto text-height" rows="6" placeholder="Special Comments" name="comments" ng-model="enquiryData.comment" required></textarea>
                                <p class="error" ng-show="myForm.comments.$invalid && myForm.comments.$touched">Special Comments is required</p>
                            </div>

                            <div class="col-md-6 col-sm-6 padboth15">
                                <input type="text" class="hideinput form-control Robotor" placeholder="Name" name="name" ng-model="enquiryData.name" required>
                                <p class="error" ng-show="myForm.name.$invalid && myForm.name.$touched">Name is required</p>
                            </div>
                            <div class="col-md-6 col-sm-6 padboth15">
                                <input type="number" class="hideinput form-control Robotor" placeholder="Phone No" name="phone" ng-model="enquiryData.phone" required>
                                <p class="error" ng-show="myForm.phone.$invalid && myForm.phone.$touched">Phone No is required</p>
                            </div>

                            <div class="col-md-8 col-sm-8 ">
                                <input type="email" class="hideinput form-control Robotor" placeholder="Email ID" name="email" ng-model="enquiryData.email" required>
                                <p class="error" ng-show="myForm.email.$invalid && myForm.email.$touched">Email ID is required</p>
                            </div>
                            <div class="col-md-4 col-sm-3 ">
                                <button ng-click="enquirybtn = !enquirybtn" ng-class="{ active: enquirybtn }" ng-disabled="myForm.$invalid" class="btn btn-submit" type="submit">Submit</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="pattsocial ">
            <ul class="list-group socialpatt yellow_back_lightcolor">
                <li ng-click="lions = !lions" ng-class="{ active: lions }" class="Roboto black fontsizep">ENQUIRE NOW
                </li>
            </ul>
        </div> -->
        <div class="pattsocial " ng-hide="enquirybtn || mycart10">
            <ul class="list-group socialpatt yellow_back_lightcolor">
                <li ng-click="headerCartOpen(); enquirybtn = !enquirybtn" ng-class="{ active: enquirybtn }" class="Roboto black fontsizep">ENQUIRE NOW
                </li>
            </ul>
        </div>
    </div>
</div>
<!---END ENQUIRE FORM  ---->
