<!---banner start ---->
<div class="container">
    <figure class="mim1">
        <img class="img-responsive" ng-src="{{getPattaya2.banner|serverimage}}">
        <figcaption class="fingurback">
            <div class="links2">
                <div class="pattayaimg">
                    <h1 class="pattayah1 theboldfont yellow_color">{{getPattaya2.title1}}</h1>
                    <h1 class="loadh1 pattayah1 theboldfont">{{getPattaya2.title2}}</h1>
                    <p class=" pattp1">({{getPattaya2.duration}})</p>
                    <!-- <p class=" pattp1">(4 NIGHTS/8 TO 10 PERSONS)</p> -->
                    <span class=" pattp2 yellow_back_lightcolor bluecol">
                      <p class="span">{{getPattaya2.price}}</p>
                      <!-- <p class="span">START @ ₹ 50,000</p> -->
                    </span>
                </div>
            </div>
        </figcaption>
    </figure>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="categoryup2 yellow_back_lightcolor">
                <div class="row">
                    <div masonry>
                        <div class="masonry-brick padd15px col-md-4" ng-repeat="packdata in getPattaya2.pack">
                            <div class="marginicon">
                                <div class="pattayevents white_back_color">
                                    <img ng-src="{{ packdata.image|serverimage  }}" class="img-box" alt="A masonry scope">
                                    <div class="tittalep">
                                        <h2 class="bluecol eventh2 Robotor borderhr">{{ packdata.day  }}</h2>
                                        <p ng-bind-html="packdata.description"></p>
                                        <!-- <ul class="list-group bluecol margin-group">
                                            <li class="list2 Roboto "> {{ scope.li }} </li>
                                        </ul> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pull-right wtsocial patayasocial">
                    <div class="col-md-12 social1">
                        <ul class="list-group socialgr">
                            <li class="Robotor">
                                <a class="yellow_color pregular"><img src="frontend/img/cart.png" alt="" class="socialimg img-responsive doneLoading">ADD TO CART</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-12 social2">
                        <ul class="ulsocial2 list-group">
                            <li class=""><a class="fontsiz yellow_color pregular"><i class="fa fa-share-alt"></i></a></li>
                            <li class="ulsocial2i "><a class="bluecol pregular"><i class="fa fa-facebook"></i></a></li>
                            <li class="ulsocial2i "><a class="bluecol pregular"><i class="fa fa-twitter"></i></a></li>
                            <li class="ulsocial2i "><a class="bluecol pregular"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!---ENQUIRE FORM START  ---->
<div class="eq displaynon">
    <div class="container">
        <div class="rotat">
            <div class="row">
                <div class="show-div" ng-show="lions">
                    <div class="col-md-3 col-sm-3 rotatating">
                        <div class="pattsocial2">
                            <ul class="list-group socialpatt yellow_back_lightcolor ">
                                <li class="Roboto black fontsizep white_back_color">ENQUIRE NOW</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9 yellow_back_lightcolor pattform">
                        <!-- <form name="myForm">
                            <div class="col-md-6  col-sm-6">
                                <input type="text" class="form-control Roboto" placeholder="Interested Cities" name="city" ng-modal="city.myForm" required>
                                <p class="error" ng-show="myForm.city.$error.required && myForm.city.$dirty">Interested Cities Size is required</p>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <input type="text" class="form-control Roboto" placeholder="Interested Activities" name="activitie" ng-modal="activitie.myForm" required>
                                <p class="error" ng-show="myForm.activitie.$error.required && myForm.activitie.$dirty">Interested Activities is required</p>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <input type="text pdt15" class="form-control Robotor" placeholder="Group Size" name="size" ng-modal="size.myForm" required>
                                <p class="error" ng-show="myForm.size.$error.required && myForm.size.$dirty">Group Size is required</p>
                            </div>
                            <div class="col-md-3 col-sm-3"></div>
                            <div class="col-md-3 col-sm-3">
                                <input type="text" class="form-control Robotor" placeholder="From" name="from" ng-modal="from.myForm" required>
                                <p class="error" ng-show="myForm.from.$error.required && myForm.from.$dirty">From is required</p>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <input type="text" class="form-control Robotor" placeholder="To" name="to" ng-modal="to.myForm" required>
                                <p class="error" ng-show="myForm.to.$error.required && myForm.to.$dirty">To is required</p>
                            </div>

                            <div class="col-md-12 col-sm-12">
                                <textarea type="text" class="form-control Roboto text-height" rows="6" placeholder="Special Comments" name="comments" ng-modal="comments.myForm" required></textarea>
                                <p class="error" ng-show="myForm.comments.$error.required && myForm.comments.$dirty">Special Comments is required</p>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <input type="text" class="form-control Robotor" placeholder="Name" name="name" ng-modal="name.myForm" required>
                                <p class="error" ng-show="myForm.name.$error.required && myForm.name.$dirty">Name is required</p>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <input type="text" class="form-control Robotor" placeholder="Phone No" name="phone" ng-modal="phone.myForm" required>
                                <p class="error" ng-show="myForm.phone.$error.required && myForm.phone.$dirty">Phone No is required</p>
                            </div>

                            <div class="col-md-8 col-sm-8">
                                <input type="text" class="form-control Robotor" placeholder="Email ID" name="email" ng-modal="email.myForm" required>
                                <p class="error" ng-show="myForm.email.$error.required && myForm.email.$dirty">Email ID is required</p>
                            </div>
                            <div class="col-md-4 col-sm-3">
                                <button class="btn btn-submit">Submit</button>
                            </div>
                        </form> -->
                        <form name="myForm" ng-submit="enquirySubmitPatt2(enquiryData)">
                            <div class="col-md-6  col-sm-6">
                                <input type="text" class="form-control Roboto" placeholder="Interested Cities" name="cities" ng-model="enquiryData.cities" required>
                                <p class="error-msg" ng-show="myForm.cities.$invalid && myForm.cities.$touched">Interested Cities Size is required</p>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <input type="text" class="form-control Roboto" placeholder="Interested Activities" name="activitie" ng-model="enquiryData.activities" required>
                                <p class="error" ng-show="myForm.activitie.$error.required && myForm.activitie.$dirty">Interested Activities is required</p>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <input type="text pdt15" class="form-control Robotor" placeholder="Group Size" name="size" ng-model="enquiryData.size" required>
                                <p class="error" ng-show="myForm.size.$error.required && myForm.size.$dirty">Group Size is required</p>
                            </div>

                            <div class="col-md-5 col-sm-5">
                                <input type="date" class="form-control Robotor" placeholder="From" name="from" ng-model="enquiryData.from" required>
                                <p class="error" ng-show="myForm.from.$error.required && myForm.from.$dirty">From is required</p>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <input type="date" class="form-control Robotor" placeholder="To" name="to" ng-model="enquiryData.to" required>
                                <p class="error" ng-show="myForm.to.$error.required && myForm.to.$dirty">To is required</p>
                            </div>

                            <div class="col-md-12 col-sm-12">
                                <textarea type="text" class="form-control Roboto text-height" rows="6" placeholder="Special Comments" name="comments" ng-model="enquiryData.comment" required></textarea>
                                <p class="error" ng-show="myForm.comments.$error.required && myForm.comments.$dirty">Special Comments is required</p>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <input type="text" class="form-control Robotor" placeholder="Name" name="name" ng-model="enquiryData.name" required>
                                <p class="error" ng-show="myForm.name.$error.required && myForm.name.$dirty">Name is required</p>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <input type="number" class="form-control Robotor" placeholder="Phone No" name="phone" ng-model="enquiryData.phone" required>
                                <p class="error" ng-show="myForm.phone.$error.required && myForm.phone.$dirty">Phone No is required</p>
                            </div>

                            <div class="col-md-8 col-sm-8">
                                <input type="text" class="form-control Robotor" placeholder="Email ID" name="email" ng-model="enquiryData.email" required>
                                <p class="error" ng-show="myForm.email.$error.required && myForm.email.$dirty">Email ID is required</p>
                            </div>
                            <div class="col-md-4 col-sm-3">
                                <button class="btn btn-submit" type="submit">Submit</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="pattsocial ">
            <ul class="list-group socialpatt yellow_back_lightcolor">
                <li ng-click="lions = !lions" ng-class="{ active: lions }" class="Roboto black fontsizep">ENQUIRE NOW
                </li>
            </ul>
        </div>
    </div>
</div>
<!---ENQUIRE FORM END ---->

<!---MY CART START  ---->
<div class="paddleft paddtopcart">
    <p class="pregular bluecol yellow_back_color ">MY CART</p>
</div>

<div class="paddmain yellow_back_lightcolor">
    <div class="container ">
        <div class="col-md-12 patmargin3">
            <div class="whatsmarg4">
                <div class="row textalign">
                    <div class="col-md-3 col-sm-4 col-xs-12 padd8 formlabels Roboto">
                        <form name="detailForm">
                            <div class="form-group">
                                <label class="labels bluecol">Name:</label>
                                <input type="text" class="form-control inputform" placeholder="Name" name="name" ng-modal="name.detailForm" required>
                                <p class="error" ng-show="detailForm.name.$error.required && detailForm.name.$dirty">Name is required</p>
                            </div>
                            <div class="form-group">
                                <label class="labels bluecol">Email Id:</label>
                                <input type="text" class="form-control inputform" placeholder="Email" name="email" ng-modal="email.detailForm" required>
                                <p class="error" ng-show="detailForm.email.$error.required && detailForm.email.$dirty">Email is required</p>
                            </div>
                            <div class="form-group">
                                <label class="labels bluecol">Mob No:</label>
                                <input type="text" class="form-control inputform" placeholder="Phone" name="phone" ng-modal="phone.detailForm" required>
                                <p class="error" ng-show="detailForm.phone.$error.required && detailForm.phone.$dirty">Mob No is required</p>
                            </div>
                            <div class="form-group">
                                <label class="labels bluecol">Group Size</label>
                                <input type="text pdt15" class="form-control inputform" placeholder="Group Size" name="size" ng-modal="size.myForm" required>
                                <p class="error" ng-show="detailForm.size.$error.required && detailForm.size.$dirty">Group Size is required</p>
                            </div>
                            <div class="row">
                                <button>SUBMIT</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-9 col-sm-8 col-xs-12 ">
                        <div class="col-md-4 col-sm-6 col-xs-12 marg13 padd8">
                            <div class="borderright"><strong class="naming bluecol">PARIS</strong>
                                <div class="img1">
                                    <div class="patevent">
                                        <img src="frontend/img/2.png" alt="" class="img-responsive ">
                                        <div class="cart-section">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="img1">
                                    <div class="patevent">
                                        <img src="frontend/img/3.png" alt="" class="img-responsive ">
                                        <div class="cart-section">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 marg13 padd8">
                            <div class="borderright"><strong class="naming bluecol">PATTAYA</strong>
                                <div class="img1">
                                    <div class="patevent">
                                        <img src="frontend/img/2.png" alt="" class="img-responsive ">
                                        <div class="cart-section">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="img1">
                                    <div class="patevent">
                                        <img src="frontend/img/3.png" alt="" class="img-responsive ">
                                        <div class="cart-section">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 marg13 padd8">
                            <strong class="naming bluecol">AMSTERSAM</strong>
                            <div class="img1">
                                <div class="patevent">
                                    <img src="frontend/img/2.png" alt="" class="img-responsive ">
                                    <div class="cart-section">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="img1">
                                <div class="patevent">
                                    <img src="frontend/img/3.png" alt="" class="img-responsive ">
                                    <div class="cart-section">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---MY CART END  ---->

<!---email update  ---->
<!-- <div class="eupt">
    <div class="container">
        <div class="row">
            <form name="myForm">
                <div class="col-md-4 col-sm-4 col-xs-12 ge">GET EMAIL UPDATE</div>
                <div class="col-md-5 col-sm-4 col-xs-12 ie">
                    <input type="text" placeholder="Your email address" class="form-control" name="email" ng-modal="email.myForm" required>
                    <p class="error" ng-show="myForm.email.$error.required && myForm.email.$dirty">Email is required</p>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12 es">
                    <button type="submit">SUBSCRIBE</button>
                </div>
            </form>
        </div>
    </div>
</div> -->
