<!-- START  BANNER  -->
<div class="container ">
    <figure class="m1 figure922">
        <img class="img-responsive" ng-src="{{getOneWhatsHot.banner|serverimage}}">
    </figure>
</div>
<!-- END BANNER  -->

<!---SELECTION START---->
<div class="whatsmain">
    <div class="container ">
        <div class="col-md-12 margin3">
            <!---IMAGES START ---->
            <div class="{{classp}} whatsmarg4 displaynonpata" ng-if="tabs=='az'">
                <div class="row text-center whatspadd3">
                    <span><a ng-click="tabchanges('az',1)" class="whit_color theboldfont wtimg">IMAGES</a></span>
                    <span><a ng-click="tabchanges('bz',2)" class="wtvi theboldfont">VIDEOS</a></span>
                </div>

                <div class="row marg11">
                    <div class="col-md-3 col-sm-3 col-xs-3 pading0 curserpionter" ng-repeat="data in getOneWhatsHot.images" ng-href="{{data.image|serverimage}}" rel="gallery1" fancybox-box="" href="{{data.image|serverimage}}">
                        <img class="img-responsive doneLoading" src="{{data.image|serverimage}}">
                    </div>
                </div>

            </div>
            <!---IMAGES END ---->

            <!---VIDEOS START---->
            <div class="{{classv}} whatsmarg4 displaynonpata" ng-if="tabs=='bz'">

                <div class="row text-center whatspadd3">
                    <span><a ng-click="tabchanges('az',1)" class=" wtvi theboldfont">IMAGES</a></span>
                    <span><a ng-click="tabchanges('bz',2)" class=" whit_color theboldfont wtimg">VIDEOS</a></span>
                </div>
                <div class="row marg11">
                    <div class="col-md-3 col-sm-4 col-xs-6 pading0" ng-repeat="data in getOneWhatsHot.videos">
                        <figure class="various fancybox.iframe" fancybox rel="gallery1" href="http://www.youtube.com/embed/{{data.url}}?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1">
                            <img class="img-responsive doneLoading" ng-src="{{data.thumbnail|serverimage}}" ng-if="(data.thumbnail || data.thumbnail != '')">
                            <img class="img-responsive doneLoading" ng-src="{{data.url|youtubethumb}}" ng-if="!(data.thumbnail || data.thumbnail != '')">
                            <div class="lin">
                                <div class="frammargin">
                                    <img class="img-responsive doneLoading" src="frontend/img/ply.png">
                                </div>
                            </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <!---VIDEOS END  ---->
        </div>
    </div>
</div>

<!-- SECOND IMG -->
<div class="container ">
    <div class="wtsecond">
        <div class="wtsec2">
            <div class="row">
                <div class="col-md-12 pading0">
                    <p class="wtintro Robotor" ng-bind-html="getOneWhatsHot.cruiserate"></p>
                </div>
            </div>
        </div>
        <div class="pull-right wtsocial">
            <div class="col-md-12 social1">
                <ul class="list-group socialgr">
                    <li class="Robotor" ng-click="addTocartOnWhatsHot(myid,'WhatsHot')">
                        <a class="pregular yellow_color">
                            <i class="color-white fa fa-shopping-cart socialimg" ng-if="!isInWishlistWhatsHotMore(myid)"></i>
                            <i class="yellow_color fa fa-shopping-cart socialimg" ng-if="isInWishlistWhatsHotMore(myid)"></i> ADD TO CART</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-12 social2">
                <ul class="ulsocial2 list-group">
                    <li class=""><a class="fontsiz yellow_color pregular"><i class="fa fa-share-alt"></i></a></li>
                    <li class="ulsocial2i "><a class="bluecol pregular"><i class="fa fa-facebook"></i></a></li>
                    <li class="ulsocial2i "><a class="bluecol pregular"><i class="fa fa-twitter"></i></a></li>
                    <li class="ulsocial2i "><a class="bluecol pregular"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END SELECTION  -->
<!--  START TABLE CHART -->
<div class="container ">
    <div class="col-md-12 wtlast">
        <div class="wtlast2">
            <img class="img-responsive" ng-src="{{getOneWhatsHot.tableImage}}">
        </div>
    </div>
</div>
<!-- END TABLE CHART  -->
