<!---banner start ---->
<div class="container ">
    <figure class="m1 figure922">
        <img class="img-responsive" ng-src="{{getOneWhatsHot.banner|serverimage}}">
    </figure>
</div>
<!---SELECTION START---->
<div class="whatsmain">
    <div class="container ">
        <div class="col-md-12 margin3">
            <!---IMAGES START ---->
            <div class="{{classp}} whatsmarg4 displaynonpata" ng-if="tabs=='az'">
                <div class="row text-center whatspadd3">
                    <span><a ng-click="tabchanges('az',1)" class="whit_color theboldfont wtimg">IMAGES</a></span>
                    <span><a ng-click="tabchanges('bz',2)" class="wtvi theboldfont">VIDEOS</a></span>
                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-3 pading0 curserpionter" ng-repeat="data in getOneWhatsHot.images" ng-href="{{data.image|serverimage}}" rel="gallery1" fancybox-box="" href="{{data.image|serverimage}}">
                        <img class="img-responsive doneLoading" src="{{data.image|serverimage}}">
                    </div>
                    <!-- <a class="col-md-3 col-sm-3 col-xs-3 pading0 curserpionter" ng-href="img/banner.jpg" rel="gallery1" fancybox-box="" href="img/banner.jpg">
                        <img class="img-responsive doneLoading" src="frontend/img/rockclimb1.png">
                    </a>
                    <a class="col-md-3 col-sm-3 col-xs-3 pading0 curserpionter" ng-href="img/banner.jpg" rel="gallery1" fancybox-box="" href="img/banner.jpg">
                        <img class="img-responsive doneLoading" src="frontend/img/rockclimb1.png">
                    </a>
                    <a class="col-md-3 col-sm-3 col-xs-3 pading0 curserpionter" ng-href="img/banner.jpg" rel="gallery1" fancybox-box="" href="img/banner.jpg">
                        <img class="img-responsive doneLoading" src="frontend/img/rockclimb1.png">
                    </a>
                    <a class="col-md-3 col-sm-3 col-xs-3 pading0 curserpionter" ng-href="img/banner.jpg" rel="gallery1" fancybox-box="" href="img/banner.jpg">
                        <img class="img-responsive doneLoading" src="frontend/img/rockclimb1.png">
                    </a>
                    <a class="col-md-3 col-sm-3 col-xs-3 pading0 curserpionter" ng-href="img/banner.jpg" rel="gallery1" fancybox-box="" href="img/banner.jpg">
                        <img class="img-responsive doneLoading" src="frontend/img/rockclimb1.png">
                    </a>
                    <a class="col-md-3 col-sm-3 col-xs-3 pading0 curserpionter" ng-href="img/banner.jpg" rel="gallery1" fancybox-box="" href="img/banner.jpg">
                        <img class="img-responsive doneLoading" src="frontend/img/rockclimb1.png">
                    </a>
                    <a class="col-md-3 col-sm-3 col-xs-3 pading0 curserpionter" ng-href="img/banner.jpg" rel="gallery1" fancybox-box="" href="img/banner.jpg">
                        <img class="img-responsive doneLoading" src="frontend/img/rockclimb1.png">
                    </a> -->


                </div>

            </div>
            <!---IMAGES END ---->

            <!---VIDEOS START---->
            <div class="{{classv}} whatsmarg4 displaynonpata" ng-if="tabs=='bz'">

                <div class="row text-center whatspadd3">
                    <span><a ng-click="tabchanges('az',1)" class=" wtvi theboldfont">IMAGES</a></span>
                    <span><a ng-click="tabchanges('bz',2)" class=" whit_color theboldfont wtimg">VIDEOS</a></span>
                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-6 pading0" ng-repeat="data in getOneWhatsHot.videos">
                        <figure class="various fancybox.iframe" fancybox rel="gallery1" href="http://www.youtube.com/embed/{{data.url}}?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1">
                            <img class="img-responsive doneLoading" ng-src="{{data.thumbnail|serverimage}}" ng-if="(data.thumbnail || data.thumbnail != '')">
                            <img class="img-responsive doneLoading" ng-src="{{data.url|youtubethumb}}" ng-if="!(data.thumbnail || data.thumbnail != '')">
                            <!-- <img ng-src="{{item.thumbnail|uploadpath}}" alt="Dharma Productions" class="img-responsive width100" ng-if="(item.thumbnail || item.thumbnail != '')">
                            <img ng-src="{{item.url|youtubethumb}}" alt="Dharma Productions" class="img-responsive width100" ng-if="!(item.thumbnail || item.thumbnail != '')"> -->
                            <figcaption>
                                <div class="lin">
                                    <div class="frammargin">
                                        <img class="img-responsive doneLoading" src="frontend/img/ply.png">
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                        <!-- <figure class="various fancybox.iframe" fancybox rel="gallery1"  href="https://www.youtube.com/embed/CuGPpZH0lmc" >
                            <img class="img-responsive doneLoading" src="frontend/img/Layer-56.jpg" >
                            <figcaption>
                                <div class="lin">
                                    <div class="frammargin">
                                        <img class="img-responsive doneLoading" src="frontend/img/ply.png">
                                    </div>
                                </div>
                            </figcaption>
                        </figure> -->
                    </div>
                    <!-- <div class="col-md-3 col-sm-4 col-xs-6 pading0">
                        <figure><img class="img-responsive doneLoading" src="frontend/img/Layer-56.jpg">
                            <figcaption>
                                <div class="lin">
                                    <div class="frammargin">
                                        <img class="img-responsive doneLoading" src="frontend/img/ply.png">
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6 pading0">
                        <figure><img class="img-responsive doneLoading" src="frontend/img/Layer-56.jpg">
                            <figcaption>
                                <div class="lin">
                                    <div class="frammargin">
                                        <img class="img-responsive doneLoading" src="frontend/img/ply.png">
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6 pading0">
                        <figure><img class="img-responsive doneLoading" src="frontend/img/Layer-56.jpg">
                            <figcaption>
                                <div class="lin">
                                    <div class="frammargin">
                                        <img class="img-responsive doneLoading" src="frontend/img/ply.png">
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6 pading0">
                        <figure><img class="img-responsive doneLoading" src="frontend/img/Layer-56.jpg">
                            <figcaption>
                                <div class="lin">
                                    <div class="frammargin">
                                        <img class="img-responsive doneLoading" src="frontend/img/ply.png">
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6 pading0">
                        <figure><img class="img-responsive doneLoading" src="frontend/img/Layer-56.jpg">
                            <figcaption>
                                <div class="lin">
                                    <div class="frammargin">
                                        <img class="img-responsive doneLoading" src="frontend/img/ply.png">
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6 pading0">
                        <figure><img class="img-responsive doneLoading" src="frontend/img/Layer-56.jpg">
                            <figcaption>
                                <div class="lin">
                                    <div class="frammargin">
                                        <img class="img-responsive doneLoading" src="frontend/img/ply.png">
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6 pading0">
                        <figure><img class="img-responsive doneLoading" src="frontend/img/Layer-56.jpg">
                            <figcaption>
                                <div class="lin">
                                    <div class="frammargin">
                                        <img class="img-responsive doneLoading" src="frontend/img/ply.png">
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </div> -->
                </div>
            </div>
            <!---VIDEOS END  ---->
        </div>
    </div>
</div>

<!--second page-->
<div class="container ">
    <div class="wtsecond">
        <div class="wtsec2">
            <div class="row">
                <div class="col-md-12 pading0">
                    <p class="wtintro Robotor" ng-bind-html="getOneWhatsHot.cruiserate"></p>
                    <!-- <p class="wtintro Robotor">Your Cruise rate includes:</p> -->
                    <!-- <ul class="list-group">
                        <li class="font15 Robotor">4 days and 3 nights accommodation</li>
                        <li class="font15 Robotor">Round trip ceuise from Singapore to Penang</li>
                        <li class="font15 Robotor">All means, including breakfast,lunch,dinner,24-hour room service* (including a gourmet fare in the formal dining rooms and casual outdoor grill)</li>
                        <li class="font15 Robotor">Non-carbonated beverages(water,tea,coffee,juices,milk)</li>
                        <li class="font15 Robotor">Government taxes and fees</li>
                        <li class="font15 Robotor">Entry to all IT'S THE SHIP events on and off the ship</li>
                        <li class="font15 Robotor">Complimentary use of mmost of the ship's facilities including casino, swimming pools and whrirlpools, rock-climbing, ice-skating rink,health and firness center.</li>
                    </ul>
                    <p class="font15 margin-15">*Tips and gratuities are NOT included in your cruise rate.</p>
                    <p class="font15 margin-15">For more info,check out our booking FAQs here :<a class="colora">www.itstheship.com/faq</a></p> -->
                </div>
            </div>
        </div>
        <div class="pull-right wtsocial">
            <div class="col-md-12 social1">
                <ul class="list-group socialgr">
                    <li class="Robotor" ng-click="addTocartOnWhatsHot(myid,'WhatsHot')">
                        <a class="pregular yellow_color" >
                            <i class="color-white fa fa-shopping-cart socialimg" ng-if="!isInWishlistWhatsHotMore(myid)"></i>
                            <i class="yellow_color fa fa-shopping-cart socialimg" ng-if="isInWishlistWhatsHotMore(myid)" ></i>
                            ADD TO CART</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-12 social2">
                <ul class="ulsocial2 list-group">
                    <li class=""><a class="fontsiz yellow_color pregular"><i class="fa fa-share-alt"></i></a></li>
                    <li class="ulsocial2i "><a class="bluecol pregular"><i class="fa fa-facebook"></i></a></li>
                    <li class="ulsocial2i "><a class="bluecol pregular"><i class="fa fa-twitter"></i></a></li>
                    <li class="ulsocial2i "><a class="bluecol pregular"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!---table start ---->
<div class="container ">
    <div class="col-md-12 wtlast">
        <div class="wtlast2">
            <img class="img-responsive" ng-src="{{getOneWhatsHot.tableImage}}">
            <!-- <div class="row">
                <div class="col-md-12 pading0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>*Prices Listed Are Per Person In US Dolar (USD)</th>
                                <th>2 Pax/Cabin</th>
                                <th>2 Pax/Cabin</th>
                                <th>2 Pax/Cabin</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Royal Suite W/Balcony</td>
                                <td class="tdcolor">Sold Out</td>
                                <td class="tdcolor">Sold Out</td>
                                <td class="tdcolor">Sold Out</td>
                            </tr>
                            <tr>
                                <td>Royal family Suite W/Balcony</td>
                                <td class="tdcolor">Sold Out</td>
                                <td class="tdcolor">Sold Out</td>
                                <td class="tdcolor">Sold Out</td>
                            </tr>
                            <tr>
                                <td>Owners Suite W/Balcony</td>
                                <td>2,588</td>
                                <td>2,588</td>
                                <td>2,588</td>
                            </tr>
                            <tr>
                                <td>Grand Ocean Suite W/Balcony</td>
                                <td>3,548</td>
                                <td>3,548</td>
                                <td>3,548</td>
                            </tr>
                            <tr>
                                <td>Juniour Ocean Suite</td>
                                <td>5,454</td>
                                <td>5,454</td>
                                <td>5,454</td>
                            </tr>
                            <tr>
                                <td>Family Ocean View</td>
                                <td>2,588</td>
                                <td>2,588</td>
                                <td>2,588</td>
                            </tr>
                            <tr>
                                <td>Large Ocean View</td>
                                <td>3,548</td>
                                <td>3,548</td>
                                <td>3,548</td>
                            </tr>
                            <tr>
                                <td>Deluxe Ocean View</td>
                                <td>5,454</td>
                                <td>5,454</td>
                                <td>5,454</td>
                            </tr>
                            <tr>
                                <td>Interior</td>
                                <td>9,547</td>
                                <td>9,547</td>
                                <td>9,547</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> -->
        </div>
    </div>
</div>
