<!--  START BANNER -->
<div class="container wts">
    <flex-slider flex-slide="s in mySlidesss track by $index" class="m1 figure922">
        <li>
            <div class="item">
                <img class="img-responsive " ng-src="{{s.banner|serverimage}}">
            </div>
        </li>
    </flex-slider>
</div>
<!-- END BANNER  -->
<!--START UPCOMING PAGE   -->
<div class="container">
    <div class="row">
        <div class="categoryup">
            <h1 class="theboldfont whit_color">UPCOMING<br>EVENTS</h1>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 padd15px" ng-repeat="data in myEvents">
                    <div class="events">
                        <img src="{{data.image |serverimage:544:545}}" alt="" class="img-responsive ">
                        <div class="cart-sec">
                          <button class="cart uppercase" ng-click="addTocartOnWhatsHot10(data._id,data.typeCart);">
                            <i   ng-if="!isInWishlistWhatsHot(data._id)"><img src="frontend/img/cartremove.png" class="cartsi img-responsive" ></i>
                            <i  ng-if="isInWishlistWhatsHot(data._id)"><img src="frontend/img/cartadd.png" class="cartsi img-responsive"></i>
                        </button>
                        </div>
                        <div class="shadow-down2"></div>
                        <div class="event-name2">
                            <h2 class="bluecol eventh2 pregular">{{data.name}}</h2>
                            <hr class="eventhr">
                            <p class="bluecol eventp Roboto">{{data.fromDate |date:'dd'}}-{{data.toDate |date:'dd MMMM yyyy'}}</p>
                            <p class="bluecol eventp Roboto">{{data.location}}</p>
                        </div>
                        <a ui-sref="whats-hot-more({id:data._id})">
                            <div class="over-layer2 text-center" ui-sref="whats-hot-more({id:data._id})">
                                <div class="hoverhold">
                                    <h2 class="bluecol eventh2 pregular">{{data.name}}</h2>
                                    <hr class="eventhr">
                                    <p class="bluecol eventp Roboto">{{data.fromDate |date:'dd'}}-{{data.toDate |date:'dd MMMM yyyy'}}</p>
                                    <p class="bluecol eventp Roboto">{{data.location}}</p>
                                    <button class="morebutton"><a ui-sref="whats-hot-more({id:data._id})" class="whit_color">KNOW MORE</a></button>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END UPCOMING PAHGE  -->
