<!-- <div class="popup">
    <div class="pop-heading-barclose-popup">
        <h2 class="cartpop text-uppercase text-center bluecol">MY CART <a ng-click="$close();" class="crose">X</a></h2>
    </div>
    <div class="pop-body text-center bg-light-pink pd20">
        <p class="cartdis">Your query has been <span class="red">removed</span> from cart.</p>
    </div>
</div> -->
<div class="popup bluecol_back">
  <a ng-click="$close();" class="crosimg"><img src="frontend/img/x.png" alt="tbt" /></a>
    <div class="pop-body text-center  pd20">
        <img class="enqimg" src="frontend/img/wd.png" alt="tbt" /><div class="whit_color enqtext">Your query has been <span class="red">removed</span> from cart.</div>
    </div>
</div>
