<div class="popup">
    <!-- <div class="embed-responsive embed-responsive-16by9" >
        <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/iQ33HcmWzBk?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1"></iframe>
    </div> -->
    <div class="container contplay">
    <iframe width="560" height="315" class="video" src="https://www.youtube-nocookie.com/embed/iQ33HcmWzBk?autoplay=1&modestbranding=0&showinfo=0&rel=0&loop=1" frameborder="0" allowfullscreen></iframe>
  </div>
    <div class="text-center paddd5">
        <a ng-click="$close();" class="pregular whit_color pamor">SKIP</a>
    </div>
</div>
