@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../../bower_components/flexslider/flexslider";
@import "../../bower_components/font-awesome/css/font-awesome.min";
@import "../../bower_components/fancyBox/source/jquery.fancybox";
@import "../../bower_components/swiper/dist/css/swiper.min";
@import "../../bower_components/smart-app-banner/smart-app-banner";
/* Bootstrap Variables Goes Here */
$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #fcd116 !default;
$brand-danger: #fc483f !default;
$brand-info: #114fc9 !default;
$grey: #cccccc !default;
$black: #000000 !default;
$blue-dark: #0c5c81 !default;
$white: #ffffff !default;
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@font-face {
    font-family: "pregular";
    src: url("../fonts/plan-dark-r.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Light_1.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "Robotor";
    src: url("../fonts/Roboto-Regular_1.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "theboldfont";
    src: url("../fonts/theboldfont.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "flexslider-icon";
    src: url("../fonts/flexslider-icon.ttf");
}
//new font imported
@font-face {
    font-family: "plan-dark-bold";
    src: url("../fonts/plan-dark-bold.ttf");
}
@font-face {
    font-family: "plan-dark-m";
    src: url("../fonts/plan-dark-m.ttf");
}
@font-face {
    font-family: "plan-dark-r1";
    src: url("../fonts/plan-dark-r1.ttf");
}
@font-face {
    font-family: "plan-dark-sb";
    src: url("../fonts/plan-dark-sb.ttf");
}

body {
    padding-top: 59px;
}

img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

a,
img {
    outline: none !important;
}

button {
    outline: none !important;
}

.color-white {
    color: #fff;
}

a:focus,
a:hover {
    text-decoration: none !important;
}
//font style start

.pregular {
    font-family: 'pregular';
}

.Roboto {
    font-family: 'Roboto';
}

.Robotor {
    font-family: 'Robotor';
}

.theboldfont {
    font-family: 'theboldfont';
}

.f-bold {
    font-weight: 700;
}

.f-light {
    font-weight: 300;
}

.masonry-box {
    width: 200px;
}

.f-regular {
    font-weight: 400;
}
//font color start

.whit_color {
    color: $white !important;
}

.whit_color:hover {
    color: $white !important;
    text-decoration: none;
}

.yellow_color {
    color: #fdd116 !important;
}

.yellow_color:hover {
    color: #fdd116 !important;
    text-decoration: none;
}

.whitecolor {
    color: #fff !important;
}

.yellow_back_color {
    background-color: #fdd116 !important;
}

.white_back_color {
    background-color: #fff !important;
}

.yellow_back_lightcolor {
    background-color: #fdd116 !important;
}

.grey_color {
    color: #807b7b !important;
}

.grey_color:hover {
    color: #807b7b !important;
    text-decoration: none;
}

.grey_color2 {
    color: #bbb8b8 !important;
}

.grey_color2:hover {
    color: #bbb8b8 !important;
    text-decoration: none;
}

.bluecol {
    color: #002b7f !important;
}

.bluecol_back {
    background-color: #002b7f !important;
}

.bluecol:hover {
    color: #002b7f!important;
    text-decoration: none;
}

.black {
    color: black !important;
}

.black:hover {
    color: black!important;
    text-decoration: none;
}

.list {
    list-style: none;
    padding: 3px 0;
    font-size: 17px;
}

img {
    opacity: 0;
    @include transition(all 300ms ease);
}

img.doneLoading {
    opacity: 1;
}

nav li:hover .dropdown-menu {
    display: block;
}

.btn,
a {
    cursor: pointer;
    @include transition(all ease 300ms);
}
//bootstrap forms

.btn,
.form-control,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.input-lg {
    border-radius: 0;
    @include box-shadow(none);
}

.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    @include box-shadow(none);
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #012B7F;
}

.headera > a {
    font-weight: bold;
    letter-spacing: 1px;
    border-right: 2px solid #36438c;
    padding: 0 14px !important;
    line-height: 10px !important;
    color: #012B7F;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}
//STATIC CSS START

.act-banner {
    height: 350px;
    overflow: hidden;
}

.pointer {
    cursor: pointer;
}

.ctgry {
    cursor: pointer;
    width: 100%;
}

.fancybox-overlay {
    background-color: rgba(0, 0, 0, 0.75) !important;
}

.select-main {
    i {
        font-size: 20px;
        color: #002b7f;
    }
}

.activity-subhead {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fdd116;
    font-size: 30px;
}

.display-inline {
    display: inline-block;
}

.pd50 {
    padding: 0 50px;
}

.dropdown-menu {
    border-radius: 0 !important;
    width: 100% !important;
}

.category {
    background-color: #fdd116;
    padding: 20px 40px;
    margin: 0 6%;

    .form-group .form-control {
        -webkit-appearance: none;
        display: inline-block;
        -moz-appearance: none;
        appearance: none;
        background: transparent url("..//img/chevron-down.png") no-repeat right center;
        background-size: 24px 12px;
        height: auto;
        border-top: none;
        border-left: none;
        border-right: none;
        font-size: 16px;
        outline: none;
        border: 0;
        border-bottom: 2px solid #002b7f;
        padding: 5px;
    }
}

.big-sec {
    overflow: hidden;
}

.cart-sec2 {
    position: absolute;
    top: 0;
    right: 13px;
    z-index: 99;

    .checkboxing input[type="checkbox"] + label span {
        width: 22px !important;
        height: 22px !important;
        border: 1px solid #fdd116 !important;
        box-shadow: 0 1px 6px 1px #000;
        margin-right: -1px;
    margin-top: 3px;
    }

    input[type="checkbox"]:checked+label span {
        display: none;
    }

    input[type="checkbox"]:checked+label:before {
        content: "\f00c";
        font-family: 'FontAwesome';
        background: #fdd116;
        color: #01194a;
        font-size: 20px;
        padding: 1px;
            box-shadow: 0 1px 6px 1px #000;
    }
}

.cart-sec {
    position: absolute;
    top: 7px;
    right: 4px;
    z-index: 99;

    i {
        text-shadow: #000000 0 0 5px;
    }

    .cartsi {
        width: 30px;
        height: inherit !important;
    }
}

.event-name {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%);
    color: #fff;
    font-weight: 600;
    font-family: pregular;
    width: 94%;
    text-align: center;

    span {
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-size: 13px;
    }
}

.firstimg .front .event-name {
    bottom: 47px !important;
}

.imgactive img {
    height: 260px !important;
    max-width: auto !important;
    display: block;
}

.eventshome {
    overflow: hidden;
    height: 185px;

    img {
        display: block;
        max-width: auto !important;
        height: 100%;
    }
}

.events,
.eventshome {
    position: relative;
    cursor: pointer;

    &:hover {
        .over-layer {
            display: block;
        }
    }

    .over-layer {
        display: none;
        background-color: rgba(63,0,255,0.55);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        .button-holder {
            font-weight: 600;
            font-size: 14px;
            color: #002b7f;
            background-image: url("../img/btn-bg1.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            padding: 20px 30px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 70%;

            .ext-detail {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                background: none;
                border: 0;
                font-family: pregular;
                width: 100%;
                letter-spacing: 2px;

                &:focus {
                    outline: none;
                }
            }
        }
    }
}

.load-more {
    .button-holder {
        font-weight: 600;
        font-size: 16px;
        color: #fff;
        background-image: url("../img/btn-bg.png");
        background-repeat: no-repeat;
        padding: 10px 40px;
        width: auto;
        background-size: 100% 100%;
        margin: 0 auto;
        display: inline-block;

        .ext-detail {
            background: none;
            border: 0;

            &:focus {
                outline: none;
            }
        }
    }
}

.get-updates {
    background-color: #cccccc;
}

.pdt30 {
    padding-top: 30px;
}

.pdb30 {
    padding-bottom: 30px;
}

.dropdown-category {
    ul {
        list-style-type: none;
        padding: 0;
    }
}

.select-main {
    width: 187px;
    font-size: 18px;
    margin-right: 20px;
}

.form-control {
    display: inline-block;
    border: 0;
    position: relative;
    display: inline-block;
}

select {
    border: 0;
    background-color: transparent;
}

select:required:invalid {
    color: #a18d55;
}

option[value=""][disabled] {
    display: none;
}

.act-head {
    font-size: 100px;
    font-weight: 600;
    text-align: center;
}

.shadow-up {
    position: absolute;
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(255, 255, 255, 0));
    height: 20%;
    width: 100%;
}

.shadow-down {
    position: absolute;
    bottom: 0;
    background: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0));
    height: 17%;
    width: 100%;
}

.display,
.display2 {
    display: none;
}
//UPCOMING CSS START

.lm2 {
    height: 100% !important;
    padding: 5% 0;
    width: 38%;
    margin: 0 !important;
    float: right;
    background: rgba(0, 0, 152, 0.78);

    .hclass {
        line-height: 66px;
        margin-bottom: 0;
    }

    .LMP {
        font-size: 20px;
        font-weight: 900;
        margin-left: 4%;
    }

    .hclass1 {
        font-size: 94px;
    }

    .hclass2 {
        font-size: 94px;
        margin-left: 20px;
    }
}

.shadow-down2 {
    position: absolute;
    bottom: 0;
    background: rgba(255, 252, 252, 0.82);
    height: 39%;
    width: 100%;
}

.categoryup {
    background-color: #fdd116;
    padding: 20px 40px 40px;
    margin: 0 4%;

    h1 {
        font-size: 60px;
        margin: 6% 0 2%;
        display: inline-block;
        width: 50%;
        line-height: 46px;
    }
}

.over-layer2 {
    display: none;
    background-color: rgba(226, 226, 226, 0.91);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.events:hover .over-layer2 {
    display: block;
}

.events:hover .event-name2,
.events:hover .shadow-down2 {
    display: none;
}

.event-name2 {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%);
    color: #fff;
    font-weight: 600;
    font-family: pregular;
    width: 100%;
    text-align: center;
}

.event-name2 {
    .eventp {
        margin: 0;
        font-size: 16px;
    }

    .eventh2 {
        margin-bottom: 5px;
        font-family: pregular;
        font-weight: 900;
        letter-spacing: -1px;
        font-size: 26px;
        text-transform: capitalize;
    }

    .eventhr {
        border-top: 3px solid #fdd116 !important;
        margin: 0 36% 3px !important;
    }
}

.hoverhold {
    font-weight: 600;
    padding: 18% 0 0;

    .eventp {
        margin: 0;
        font-size: 18px;
    }

    .eventh2 {
        margin-bottom: 5px;
        font-family: pregular;
        font-weight: 900;
        letter-spacing: -1px;
        font-size: 26px;
        text-transform: capitalize;
    }

    .eventhr {
        border-top: 3px solid #ffca18 !important;
        margin: 0 36% 7px !important;
    }

    .morebutton {
        outline: none;
        background: none;
        border: 0;
        letter-spacing: 2px;
        font-weight: 600;
        font-size: 14px;
        color: #ffffff;
        background-image: url("../img/btn-bg.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 10px 35px;
        margin: 3% 0;
    }
}
//PATTAYA2 CSS START

.cartsum {
    display: inline;
    font-size: 18px;
    color: #002B7F;
}

.mim1 {
    margin: -1px 0 0;
    cursor: auto;
}

.categoryup2 {
    background-image: url("./../img/wd.png");
    background-repeat: no-repeat;
    background-size: 28%;
    background-position: 91% 95%;
    padding: 6%;
    margin: -5% 6% 0;
}

.pattayevents {
    .tittalep {
        padding-bottom: 6px;
        font-weight: 600;
        margin: 1% 11%;
    }

    .borderhr {
        width: 45%;
        border-bottom: 3px solid #fdd116 !important;
        padding-bottom: 8px;
        display: inline-block;
        font-weight: bolder;
        letter-spacing: -2px;
        text-transform: uppercase;
    }

    .list2 {
        margin: 0;
        padding: 0;
        font-size: 18px;
        word-spacing: 2px;
    }

    .margin-group {
        margin: 1px 6%;
    }
}

.img-box {
    width: 100% !important;
}

.iconmarg {
    margin: 54% 0;
}

.pattaya2logo {
    display: inline-block;
    position: absolute;
    top: 51%;
    right: 1%;
}

.marginicon {
    margin: 0 4.5px 10px;
}

.paddleft {
    padding-left: 10.2%;

    p {
        display: inline-block;
        padding: 0 28px;
        margin: 0 !important;
        font-size: 22px;
    }
}

.paddleft1 {
    display: inline-block;
    padding: 10px 28px;
    margin-left: 0 !important;
    font-size: 22px;
    border: none;
    outline: none;
}

.patayasocial {
    margin-top: -80% !important;
    margin-right: -11.4% !important;
}

.patayasocial2 {
    margin-top: -17% !important;
    margin-right: 4.3% !important;
}

.links2 {
    margin: 4% 0;

    .loadh1 {
        line-height: 47px;
    }

    .pattp1 {
        letter-spacing: -1px;
        text-align: right;
        font-size: 25px;
        font-weight: bolder;
    }

    .pattp2 {
        font-family: sans-serif;
        letter-spacing: -1px;
        float: right;
        font-weight: bolder;
        font-size: 21px;
        padding: 1px 8px;
        margin: 0 0 0 20px;
        height: 100%;
        transform: skew(-42deg);

        .span {
            padding: 1px 0 1px 4px;
            margin: 0;
            transform: skew(41deg);
        }
    }
}

.pattayaimg {
    margin: 0 30%;
}

.fingurback {
    background: linear-gradient(rgba(255, 255, 255, 0) 58%, rgb(62, 62, 60));
}

.pattayah1 {
    line-height: 68px;
    margin: 0;
    font-size: 90px;
    font-weight: 800;
    text-transform: uppercase;
}

#slides_control > div {
    height: 200px;
}

#slides_control {
    position: absolute;
    width: 400px;
    left: 50%;
    top: 20px;
    margin-left: -200px;
}
//STATIC CSSS END

.card {
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    width: 100%;
}

.card:hover {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    border: none;
    outline: none;
}

.card .side {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
    z-index: 1;
}

.card .back {
    overflow: auto;
    padding: 41px 2px 2px;
    background: #fdd116;
    color: #333333;
    text-align: center;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.activi {
    margin-top: -5%;
}

.hbc {
    text-align: center;
    border: none !important;
    background-color: #fdd116 !important;

    .rit {
        text-align: right;
    }

    .tp {
        font-size: 11px;
        text-align: center;
        padding-left: 16px;
        color: #000;

        li {
            padding: 25px 0;
        }
    }
}

.hoverimg {
    margin: 42% 30%;
}

.yec {
    background: #fdd116;
}

.inm {
    margin: 6% 5% 0;
}

.himg {
    margin-top: -8px;
    width: 66px;
    background-color: #fff;
    box-shadow: 0 0 0 5px #ffffff;
}

.hdp {
    width: 280px;
    padding: 21px 0 4px;
    font-weight: 700;
    letter-spacing: 1px;
}

.imgab {
    width: 29%;
    position: absolute;
}

.himg2 {
    display: inline-block;
    width: 50%;
    text-align: left;
    background: rgba(2, 44, 125, 0.77);
    padding: 3% 0 3% 16%;
    margin-left: 15%;
    margin-top: 2.5%;
    border-radius: 24px;

    .form-control {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: transparent url("../img/Vector-Smart-Object.png") no-repeat right center;
        border-bottom: 4px solid #fdd116;
        font-size: 23px;
        color: #fdd116;
        padding: 0 6px;
        height: auto;
        border-top: none;
        border-left: none;
        border-right: none;
        font-weight: bolder;
        width: 80%;
        display: inline-block;
        background-size: 24px;
    }

    .gobtn {
        padding: 0;
        font-size: 26px;
        font-family: 'Robotor';
        background-color: rgba(255, 255, 255, 0);
        font-weight: bolder;
        border: none;
        padding-left: 12px;
        outline: none;
    }
}

label {
    font-size: 26px;
}

option {
    color: #002b7f;
    font-size: 16px;
    background-color: #fdd116;
    font-weight: bolder;
}

.aboutin {
    background: #fdd116;
    padding: 5%;
    text-align: center;
}

.m2 {
    padding: 2%;
    background: #fff;
}

.hdn {
    color: #0b358c;
    font-size: 12px;
    width: 114px;
    margin-top: 10px;
    margin-bottom: 0;

    .m10 {
        margin-left: 10px;
    }

    i {
        background-color: white;
        border-radius: 100%;
        padding: 5px 0;
        height: 20px;
        width: 21px;
        text-align: center;
    }

    a {
        color: #fdd116;
        font-size: 12px;
    }
}

.navbar-brand {
    float: left;
    padding: 14px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}

.imAb {
    display: inline-block !important;
    width: 250px;
}

.padd30px {
    padding-bottom: 30px !important;
    padding-top: 15px !important;
}

.padd15px {
    padding-bottom: 15px;
}

.spAb {
    width: 50%;
    display: inline-block;
    padding-left: 5%;
    text-align: left;

    h1 {
        font-size: 56px;
        font-weight: bolder;
        color: #012B7F;
    }

    .ain {
        margin: 0 0 18px;
        font-size: 16px;
        color: #012B7F;
    }
}

.sado {
    font-weight: 600;
    float: right;
    font-size: 16px;
    color: #fff;
    background-image: url("../img/btn-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 12px 25px;
}

.lm {
    height: 90.1% !important;
    padding: 5% 0;
    width: 27%;
    margin: 2% !important;
    float: right;
    background: rgba(0, 0, 152, 0.78);

    h1 {
        line-height: 80%;
        font-size: 70px;
        font-weight: bolder;
        text-align: left;
        padding: 6% 7% 0;
    }

    p {
        text-align: left;
        font-size: 18px;
        font-weight: bold;
        padding: 0 7%;
        line-height: 100%;
    }
}

.m8 {
    margin: 8% 0;

    .mr {
        cursor: pointer;
        margin-right: 8%;
        margin-left: -7%;
    }

    .ml {
        cursor: pointer;
        margin-left: 17%;
        display: flex;
    }
}

.padng0 {
    padding: 0 !important;
}

.borderup {
    background: linear-gradient(to right, white 58%, white 41%, white 41%, white 47%, #fdd116 47%);
    border-right: 20px solid #fdd116;
    padding: 20px;
    position: relative;
}

.addimg {
    position: absolute;
    right: -38px;
    bottom: 40%;
    cursor: pointer;

    img {
        width: 35px;
    }
}

.addimg1 {
    position: absolute;
    left: -38px;
    bottom: 40%;
    cursor: pointer;

    img {
        width: 35px;
    }
}

.borderdown {
    background: linear-gradient(to right, #fdd116 41%, #fdd116 41%, #fdd116 40%, #fdd116 40%, rgba(255, 255, 255, 0) 40%);
    border-left: 20px solid #fdd116;
    padding: 20px;
    margin-top: -20px;
    position: relative;
}

.backcolor {
    background: (rgba(255, 0, 0, 0));
    background: -webkit-linear-gradient(rgba(255, 0, 0, 0) 80%, rgba(62, 62, 60, 0.65));
    background: -o-linear-gradient(rgba(255, 0, 0, 0) 80%, rgba(62, 62, 60, 0.65));
    background: -moz-linear-gradient(rgba(255, 0, 0, 0) 80%, rgba(62, 62, 60, 0.65));
    background: linear-gradient(rgba(255, 0, 0, 0) 80%, rgba(62, 62, 60, 0.65));
}

.padup {
    padding: 81% 0 0;

    p {
        letter-spacing: 1px;
        font-weight: 600;
    }
}

.imghover {
    letter-spacing: 1px;

    p {
        margin: 0;
    }

    .inmIMG {
        width: 50%;
        margin-bottom: 22%;
    }
    padding: 39% 0 0;

    p {
        font-weight: 600;
    }
}

.bg {
    background: rgba(24, 60, 135, 0.7);
}

.p {
    font-weight: 600;
    float: right;
    font-size: 24px;
    color: #fff;
    background-image: url("../img/btn-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 5px 32px;
    margin: 0;
}

.labsec {
    font-weight: 500 !important;
    font-size: 22px;
}

.p1 {
    letter-spacing: 3px;
    margin-left: 2%;
    float: left;
    margin-top: 13px;
}

.p11 {
    letter-spacing: 3px;
    margin-right: 37px;
}

.p2 {
    font-size: 63px;
    font-weight: bolder;
    color: #fdd116;
    position: absolute;
    line-height: 77%;
    padding-top: 26px;
}

.p22 {
    margin-left: 48%;
    margin-right: -5px;
    z-index: 10;
    margin-top: 23px;
    line-height: 79%;
}

.p222 {
    margin: 10% 0 0 -3%;
}

.paddup {
    background: linear-gradient(to bottom, white 31%, white 17%, white 17%, #fdd116 17%);
}

.padddown {
    background: linear-gradient(to bottom, #fdd116 29%, #fdd116 80%, white 80%, white 80%, white 100%, white 100%);
}

.padd {
    padding: 0 6%;
}

figure {
    position: relative;
    display: block;
    overflow: hidden;
    text-align: center;
    padding: 0;
    color: #fff;
    margin: 0;
}

figure:hover figcaption {
    opacity: 1;
}

figure figcaption {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    bottom: 0;
    padding: 0;
    height: auto;
}

figure .links {
    margin: 10% 0;
}

.eupt {
    background: #CCCCCC;

    .ge {
        cursor: default;
        text-align: center;
        font-size: 27px;
        font-weight: 700;
        color: #31228d;
        padding: 2%;
    }

    .ie {
        padding: 2% 0;

        .form-control {
            margin-bottom: 2px;
            border: 0;
            display: block;
            width: 100%;
            height: auto;
            padding: 8px 12px;
            font-size: 17px;
            line-height: 1.42857;
            color: #555555;
            background-color: #fff;
            background-image: none;
            border-radius: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        }
    }

    .es {
        padding: 2% 1% 1% 2%;

        .error {
            height: 0;
            text-align: center;
            color: red;
            margin: 0 !important;
        }

        button {
            border: none;
            background-color: rgba(0, 0, 0, 0);
            outline: none;
            font-size: 18px;
            font-weight: 600;
            float: left;
            color: #fff;
            background-image: url("../img/btn-bg.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            padding: 7px 40px;
        }
    }
}

.error {
    visibility: visible;
    background-color: black;
    color: #fff;
    border-radius: 2px;
    padding: 2px 4px;
    position: absolute;
    z-index: 1;
    font-size: 13px;
    text-align: center;
    margin: 0 !important;
}

.sub {
    button {
        border: none;
        background-color: rgba(0, 0, 0, 0);
        outline: none;
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        background-image: url("../img/btn-bg.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 7px 40px;
    }

    .marg12 {
        margin-bottom: 12px;
    }
}

.stp {
    padding: 0 0 7%;
    display: block;
    font-size: 18px;
    font-weight: 500;

    .form-control {
        height: 29px !important;
        font-weight: 700 !important;
        width: auto !important;
    }
}

.stp2 {
    margin-bottom: 29%;
}

.mf {
    padding: 3% 0;

    .st {
        display: block;
        padding-left: 15px !important;
        padding-bottom: 2% !important;
    }
}

.bordern {
    border: none !important;
}

.footb {
    background: #121212;

    .fc {
        padding: 10px 0;

        .marg7 {
            padding-top: 7px;
        }
    }

    .fcenter {
        text-align: center;

        i {
            background-color: white;
            border-radius: 50%;
            width: 24px;
            margin: 2px 0;
            height: 22px;
            text-align: center;
            line-height: 2;
        }

        a {
            color: #000000;
            font-size: 12px;
        }
    }

    p {
        margin: 0;
        font-size: 12px;
        color: #807b7b;
    }
}

.footb2 {
    background: #263778;

    .fc {
        padding: 18px 0 5px;

        .marg7 {
            padding-top: 7px;
        }

        .fcenter2 {
            text-align: center;

            a {
                color: #000000;
                font-size: 12px;

                i {
                    background-color: white;
                    border-radius: 50%;
                    width: 24px;
                    height: 24px;
                    line-height: 2;
                    text-align: center;
                    vertical-align: baseline;
                }
            }

            p {
                margin: 0;
                font-size: 12px;
                color: #bbb8b8;
            }
        }
    }
}

.footermenu {
    background: #000000;
    background-image: url("../img/footer-img.png");
    background-repeat: no-repeat;
    background-position: 100% 108%;
    background-size: 19%;
}
//destination css start

.mainwidht {
    width: 100% !important;
}

.pdt15 {
    padding-bottom: 30px;
}

.fsiz {
    font-size: 80px;
}

.dlm {
    height: 29%;
    width: 100%;
    margin: 27% 0 0 !important;
    background: rgba(0, 0, 152, 0.78);
    text-align: center;

    h1 {
        line-height: 80%;
        font-size: 70px;
        font-weight: bolder;
        padding: 2% 0 0;
        text-align: center;
    }
}

.m4 {
    margin-top: -4%;

    .m2 {
        margin: 0 3%;
        background: #fdd116 !important;
        padding: 2% 9%;

        .pd15 {
            padding: 0 15px;

            h1 {
                font-size: 52px;
                line-height: 80%;
                padding-top: 10px;
            }
        }

        .padup {
            padding: 89% 0 0;
        }
    }
}

.m1 {
    margin-top: -1px;
}

.lodm {
    padding: 2% 0;

    a {
        font-weight: 600;
        font-size: 16px;
        color: #fff;
        background-image: url("../img/btn-bg.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 13px 31px;
        width: 199px;
    }
}

.navbar-default .navbar-toggle {
    border-color: #fdd116 !important;
}

.navbar-toggle {
    background-color: #fdd116 !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #0b358c !important;
}

.padd5 {
    margin: 0 2%;
    background: #fdd116 !important;
    padding: 2% 9%;
}

.custtitle2 {
    margin: 4% 0 1% !important;
}

.custtitle {
    display: inline-block;
    color: #002b7f;
    text-align: center;
    font-size: 30px;
    margin: 4% 0 5%;
}
//customisation css

.textright {
    text-align: right;
}

.custom-select {
    margin: 6% 0;
}

.custom-select .form-control {
    -webkit-appearance: none;
    width: 35%;
    display: inline-block;
    -moz-appearance: none;
    appearance: none;
    background: transparent url("../img/chevron-down.png") no-repeat right center;
    border-bottom: 1px solid #0b358c;
    font-size: 22px;
    color: #002b7f;
    padding: 11px 5px;
    height: auto;
    border-top: none;
    border-left: none;
    border-right: none;
}

.custom-select option {
    color: #fdd116;
    font-size: 17px;
    background-color: #002b7f;
    font-weight: bolder;
    font-family: 'Robotor';
}

.loadimag {
    margin: 2% 0;

    a {
        font-weight: 600;
        font-size: 16px;
        color: #fff;
        background-image: url("../img/btn-bg.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 13px 60px;
        width: 199px;
    }
}

.mim8 {
    margin: -1px 8%;
}

.marg4 {
    margin: 0 4%;
    background: #fdd116 !important;
    padding: 2% 5%;
}

.pdt10 {
    padding-bottom: 10px;
}

.detailsfom {
    .text-height {
        height: auto !important;
        resize: none;
        padding: 18px 12px 0 !important;
    }

    .padding-r {
        padding-right: 0;
    }

    .padding-l {
        padding-left: 0;
    }

    .form-control {
        font-size: 15px;
        height: 44px;
        border: none;
        border-radius: 0;
    }
}

.email-form {
    letter-spacing: -0.9px;
    cursor: default;
    font-size: 27px;
    font-weight: 700;
    color: #31228d;
    padding: 2%;
}

.padding5 {
    padding: 14px 15px 0;
}

.bordernone {
    border: none !important;
}

.sendform {
    float: right !important;
    padding: 4px 61px !important;
    margin: 20px 7px !important;
}

.paddingabout {
    padding: 0 12%;
}

.footerfom {
    .witdhimp {
        width: 75% !important;
    }

    .btn {
        letter-spacing: 1px;
        font-size: 19px;
        color: #333232;
        width: 100%;
        margin: 10px 0;
        background: #fdd116;
        padding: 2px 12px;
    }

    .form-control {
        font-size: 15px;
        height: 34px;
        border: none;
        border-radius: 0;
    }
    padding: 3% 0;

    .stp {
        margin: 0 15px 15px;
        display: block;
        font-size: 20px;
        font-weight: 500;
        border-bottom: 2px solid #fff;
        padding: 0;
    }

    .strong-impmarg {
        margin: 0 0 15px !important;
    }
}

.customf {
    background: #000;
}

.customc {
    padding: 9px 0;

    p {
        font-size: 13px;
    }

    .fcenter {
        text-align: center;
    }

    .padding10 {
        padding-top: 10px;
    }
}
//whats a hot css
// .flex-direction-nav {
//     display: none;
// }

.homeslid .flex-direction-nav {
    display: none;
}

.desti .flex-direction-nav {
    display: block !important;
}

.flexslider {
    text-align: right!important;
    margin: 0 !important;
    border: none!important;
    border-radius: 0 !important;
}

.mim-home {
    margin: 2%;
}

.homeslidr .flex-direction-nav .flex-prev {
    left: 10px !important;
}

.homeslidr .flex-direction-nav .flex-next {
    right: 10px !important;
}

.homeslidr .flex-nav-prev a::before {
    background-image: url("./../img/arrow_02.png") !important;
    content: '\f000';
    width: 50px;
}

.homeslidr .flex-nav-next a::before {
    background-image: url("./../img/arrow_01.png") !important;
    content: '\f000';
    width: 50px;
}


.homeslidr .flex-control-nav {
    position: absolute;
    bottom: 17px !important;
    text-align: center !important;
    display: inline-block !important;
    z-index: 2 !important;
    right: 0 !important;

    .flex-direction-nav {
        display: block !important;
    }

    .flex-direction-nav a.flex-next:before {
        color: black;
    }
}

.headbox {
    box-shadow: #002b7f 0 0 1px 0;
}

.wts .flex-control-nav {
    width: 25% !important;
    position: absolute;
    bottom: 0 !important;
    text-align: center !important;
    display: inline-block !important;
    z-index: 2 !important;
    right: 2% !important;
}

.homeslid .flex-control-nav {
    width: 18% !important;
    position: absolute;
    bottom: 0 !important;
    text-align: center !important;
    display: inline-block !important;
    z-index: 2 !important;
    right: 7% !important;
    margin-bottom: 2%;
}

.flex-control-paging li a.flex-active {
    background: #000!important;
    background: #fdd116 !important;
}

.flex-control-paging li a {
    background: #fff !important;
    width: 8px!important;
    height: 8px!important;
}

.flex-control-nav li {
    margin: 2px !important;
}

.fancybox-close {
    top: -22px;
    right: 9px;
}

.fancybox-prev {
    left: -54px !important;
}

.fancybox-next {
    right: -46px !important;
}

.fancybox-skin {
    background: rgba(249, 249, 249, 0) !important;
    box-shadow: none !important;
}

.curserpionter {
    cursor: pointer;
}

.whatsmain {
    .pading0 {
        padding: 1px !important;
    }

    .whatsmarg4 {
        .panel-body {
            background-image: url(../img/accordian.png)!important;
            background-repeat: no-repeat;
            background-position: 100% 100%;
            background-size: 68px;
        }

        .wtimg {
            font-weight: 900;
            font-size: 40px;
            background-image: url("../img/btn-bg.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            padding: 16px 42px;
            width: 199px;
            margin-left: 20px;
        }

        .wtvi {
            font-weight: 900;
            color: #cacaca !important;
            font-size: 40px;
            margin-left: 30px;
        }

        .whatspadd3 {
            padding: 3%;
        }
        margin: 0 4%;
    }

    .margin3 {
        margin-top: 3%;
    }
}

.marg11 {
    margin-bottom: -11%;
}

.wtsecond {
    background: #fdd116;

    .wtsec2 {
        .colora {
            color: #002b79;
        }

        .margin-15 {
            margin-left: -15px;
        }
        padding: 14% 14% 6%;

        .font15 {
            font-size: 13px;
            color: #002b79;
        }
    }
}

.wtintro {
    font-weight: 900;
    font-size: 16px;
    margin-left: -20px;
    color: #002b79;
}

.wtlast {
    padding-bottom: 15%;
    margin: -5% 0;
    background: rgba(255, 255, 255, 0);

    .wtlast2 {
        padding: 1% 2%;
        background: #fff;
        margin: 0 12%;

        .tdcolor {
            color: #fdd116 !important;
        }

        .table > thead > tr > th {
            padding: 14px;
            vertical-align: sub;
            border-bottom: none;
            font-size: 17px;
            background: #fff;
            color: #002b79;
            border: none;
        }

        .table > tbody > tr > td {
            padding: 8px 25px;
            line-height: 1.42857;
            vertical-align: top;
            border: 1px solid #fff;
            background: #002b79;
            color: #fff;
            font-weight: 900;
            font-size: 17px;
            vertical-align: middle;
        }
    }
}

.wtsocial {
    width: 4%;
    margin-top: -33%;
    margin-right: -3.7%;

    .socialimg {
        transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        display: inline-block;
        width: 29px;
        padding-right: 7px;
    }

    .social1 {
        height: 98px;
    }

    .socialgr {
        border-radius: 4px;
        list-style: none;
        width: 153px;
        margin-left: -70px;
        text-align: center;
        font-size: 14px;
        background: #002b7f;
        padding: 7px 0;
        transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
    }

    .social2 {
        margin-left: -12px;
        margin-top: 22px;
    }

    .ulsocial2 {
        border-radius: 4px;
        list-style: none;
        width: 39px;
        margin: 0;
        text-align: center;
        font-size: 13px;
        background: #002b7f;
        padding: 16px 0;

        .fontsiz {
            font-size: 23px;
        }

        .ulsocial2i {
            background-color: white;
            border-radius: 100%;
            padding: 5px 2px;
            height: 25px;
            width: 25px;
            text-align: center;
            margin: 5px 0 4px 6px;
        }
    }
}
//pattaya css

.displaynonpata {
    display: none;
}

.active-tab {
    display: block !important;
}

.margintop {
    margin-top: 20%;
}

.frammargin {
    margin: 18% 40%;
}

.patpack {
    font-weight: 900;
    color: #fdd116 !important;
    font-size: 40px;
    padding-left: 30px;
}

.patpack2 {
    font-weight: 900;
    font-size: 40px;
    background-image: url("../img/btn-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 16px 46px 4px;
    width: 199px;
    margin-left: 20px;
}

.pattayamarg4 {
    margin: -4% 5% 1%;
    padding: 3% 8%;

    p {
        font-size: 16px;
        margin: 0;
    }
}

.pattmarg2 {
    padding: 2%;
}

.checkboxrow {
    padding: 1% 2% 8%;
}

.checkboxrow2 {
    padding-bottom: 4%;
    text-transform: capitalize;

    .checkboxing input[type="checkbox"] + label span {
        width: 20px !important;
        height: 20px !important;
    }

    .check_img {
        display: inline-block;
        width: 32px;
    }

    .check_img2 {
        height: 20px;
        width: 5px;
        margin-top: -6px;
    }

    .pading5 {
        padding-top: 5px;
    }

    p {
        margin: 0 !important;
        font-size: 21px;
    }

    .checkbox {
        display: inline-block !important;
        padding: 0 9px !important;
        margin: 0 !important;

        label {
            font-size: 22px !important;
            margin-left: 8px !important;
        }
    }
}

.checkboxrow {
    text-transform: capitalize;

    .check_img {
        display: inline-block;
        width: 22px;
    }

    .check_img2 {
        height: 20px;
        width: 5px;
        margin-top: -6px;
    }

    .pading5 {
        padding-top: 5px;
    }

    p {
        margin: 0 !important;
        font-size: 21px;
    }

    .checkbox {
        display: inline-block !important;
        padding: 0 9px !important;
        margin: 0 !important;

        label {
            font-size: 15px !important;
            margin-left: 8px !important;
        }
    }
}

.pattmarg3 {
    margin-top: -63px;
    margin-bottom: 3%;
}

.pattform {
    box-shadow: #002b7f 0 0 1px 0;
    padding-bottom: 15px;
    padding-top: 15px;

    .form-control {
        border: none !important;
        font-size: 17px !important;
        height: auto !important;
        padding: 9px 12px !important;
    }

    .text-height {
        resize: none;
    }

    .btn-submit {
        border: none !important;
        font-size: 17px !important;
        margin-bottom: 15px !important;
        height: auto !important;
        padding: 9px 12px !important;
        width: 100%;
        background: #002b7f !important;
        color: #cacaca !important;
    }
}

.eqform {
    position: fixed;
    right: -14px;
    z-index: 9999;
    top: 248px;
}

.pattsocial {
    position: fixed;
    right: -65px;
    z-index: 10;
    top: 248px;
    height: 0;

    .socialpatt {
        box-shadow: #002b7f 0 0 1px 0;
        list-style: none;
        text-align: center;
        cursor: pointer;
        padding: 6px;
        -webkit-transform: rotate(-90deg);

        .fontsizep {
            padding: 5px 19px;
            font-size: 20px;
        }
    }
}

.rotatating {
    position: absolute;
    left: 242px;
    height: 0;
}

.pattsocial2 {
    -webkit-transform: rotate(-90deg);
    position: absolute;
    right: -72px;
    top: 51px;
    z-index: 11;

    .socialpatt {
        box-shadow: #002b7f 0 -1px 1px -1px;
        list-style: none;
        text-align: center;
        cursor: pointer;
        padding: 6px;

        .fontsizep {
            padding: 5px 19px;
            font-size: 18px;
        }
    }
}

.margincheck {
    margin: 1% 5% -1px;
}

.paddmain {
    padding-bottom: 15px;
}

.panel-group {
    margin-bottom: 0 !important;
}

.panel-default > .panel-heading {
    background-color: #fff !important;
    border-radius: 0 !important;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border: none !important;
}

.panelacor {
    padding: 5px 10px 0 !important;
    border-top: 2px solid #fdd116 !important;
    border-bottom: 0 solid #fdd116 !important;
    border-left: 0 solid #fdd116 !important;
    border-right: 0 solid #fdd116 !important;
    cursor: pointer !important;
    border-radius: 0 !important;
    box-shadow: none !important;

    .fontpanel {
        font-size: 18px;

        a i {
            font-size: 14px !important;
        }
    }
}

.panelhea2 {
    border-bottom: 2px solid #fdd116;
}

.ytp-chrome-top {
    display: none !important;
}

.padding15 {
    font-size: 15px;
}

.padding30 {
    font-size: 12px;
    padding: 0 30px;
}

.nonlist {
    list-style-type: none;
}

.border5 {
    border-top: 2px solid #fdd116;

    p {
        display: inline-block;
        padding: 0 28px;
        margin: 0 !important;
        font-size: 18px;
    }
}

.patmargin3 {
    margin-top: 2%;

    .formlabels {
        button {
            font-weight: 600;
            font-size: 16px;
            color: #fff;
            background-image: url("../img/btn-bg.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            padding: 3px 25px;
            border: none;
            background-color: #fdd116;
            outline: none;
        }

        .form-group {
            margin-bottom: 6px !important;
        }

        label {
            word-spacing: 2px;
            font-size: 14px;
            display: inline-block;
            width: 32%;
            float: left;
            text-align: right;
            margin-right: 2%;
        }
    }
}

.padding6 {
    padding-top: 19px;
}

.borderr {
    padding-right: 28px;
}

.borderright {
    border-right: 1px solid black;
}

.borderwidth {
    width: 90%;
    border-right: 1px solid black;
    padding-right: 7px;
}

.img1 {
    margin-bottom: -5px;
    display: inline-block;
}

.naming {
    letter-spacing: 1px;
    font-size: 13px;
}

.marg6 {
    margin-top: 6px;
}

.marg14 {
    margin-left: -46px;
    margin-top: -13px;
}

.marg13 {
    margin-top: -13px;
    display: inline-block;
    width: auto;
    padding: 10px;

    strong {
        display: block;
    }
}

.inputform {
    color: #000000 !important;
    background-color: rgba(255, 255, 255, 0.65) !important;
    border: none !important;
    width: 66% !important;
    height: 27px !important;
}

.patevent {
    position: relative;
    padding: 2px;
    float: left;
    width: 140px;
}

.margslid {
    margin-top: -13px;
    padding: 0 10px;
}

.cart-section {
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 2px;
    background: #fff;
    padding: 0 5px;
    color: #002b7f;
    font-size: 11px;
}

.cart {
    background-color: rgba(0, 0, 0, 0) !important;
    border: none !important;
    outline: none !important;
    font-size: 25px;
}

.image_title {
    display: inline-block;
    width: 25px;
    margin-top: -7px;
    margin-right: 12px;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: none;
    outline-offset: 0;
}

.ln-h {
    line-height: 110%;
}

.paddtopcart {
    margin-top: 18%;
}

.hei {
    height: 0;
}

.show-div {
    width: 1000px;
    float: right;
    margin-right: 15px;
    margin-top: -66px;
}
/* when hiding the thing */
.ng-hide-add {
    -webkit-animation: 0.5s lightSpeedOut ease;
    animation: 0.5s lightSpeedOut ease;
}
/* when showing the thing */
.ng-hide-remove {
    -webkit-animation: 0.5s flipInX ease;
    animation: 0.5s flipInX ease;
}
/* ANIMATIONS (FROM ANIMATE) */
/* flip in */
@keyframes flipInX {
    100% {
        opacity: 1;
    }

    0% {
        -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
        transform: translate3d(100%, 0, 0) skewX(30deg);
        opacity: 0;
    }
}
/* light speed out */
@-webkit-keyframes lightSpeedOut {
    0% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
        transform: translate3d(100%, 0, 0) skewX(30deg);
        opacity: 0;
    }
}
@keyframes lightSpeedOut {
    0% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
        -ms-transform: translate3d(100%, 0, 0) skewX(30deg);
        transform: translate3d(100%, 0, 0) skewX(30deg);
        opacity: 0;
    }
}

figure {
    cursor: pointer;
}

.flipDiv {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    float: left;
}

.flipDiv figure {
    margin: 0;
    padding: 0;
    position: relative;
    cursor: pointer;
}

.flipDiv figure .front {
    display: block;
    position: relative;
    z-index: 10;
}

.flipDiv figure figcaption {
    background: black;
    display: block;
    position: absolute;
    z-index: 5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.flipDiv figure h2 {
    font-family: 'Lato';
    color: #fff;
    font-size: 20px;
    text-align: left;
}

.flipDiv figure p {
    display: block;
    font-family: 'Robotor';
    font-size: 16px;
    margin: 0;
    color: #fdd116 !important;
    text-align: left;
    padding: 42px 17px;
}

.flipDiv figure figcaption {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.flipDiv .descrip {
    position: absolute;
    top: 0;
    left: 0;
}

.bluracti {
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}

.flipDiv figure .front {
    backface-visibility: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    //  @include transition(all 0.5s);
    //
    //   backface-visibility: hidden;
}
// @mixin rotateY($degree: 180deg)
// {
//   -moz-transform:rotateY($degree)
//   -webkit-transform:rotateY($degree)
//   transform:rotateY($degree)
// }

.flipDiv figure:hover .front,
figure.hover .front {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
    // @mixin rotateY($degree: 180deg)
}

.flipDiv figure:hover figcaption,
figure.hover figcaption {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
}

input[type="date"].form-control,
input[type="datetime-local"].form-control,
input[type="month"].form-control,
input[type="time"].form-control {
    line-height: 22px;
}

#fancybox-loading,
.fancybox-close,
.fancybox-next span,
.fancybox-prev span {
    background-image: url("../img/fancybox_sprite.png") !important;
}

.pad15pat {
    margin-bottom: 15px;
}

.vector {
    height: 22px !important;
    width: 9px !important;
}

.slidershow {
    padding: 7% 0;
}

.firstimg {
    display: inline-block;
    float: left;
}

.secimg {
    float: left;
}

.yellow_back_color .slides {
    background-color: #FDD116 !important;
}

.yellow_back_color .flex-control-paging li a {
    background: #fff !important;
    width: 11px !important;
    height: 11px !important;
}

.flexslider .slides img {
    max-width: auto !important;
    height: 100% !important;
}

.firstimg .front {
    height: 405px !important;
}

.yellow_back_color .flex-control-paging li a.flex-active {
    background: #002B7F !important;
}

.pattayar .panel-heading {
    padding: 5px 15px 0 !important;
}

.checkboxing {
    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"]+label {
        font-weight: 300;
        font-size: 16px;
    }

    input[type="checkbox"]+label span {
        display: inline-block;
        width: 13px;
        height: 13px;
        margin-left: -17px;
        margin-right: 5px;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid #01194A;
    }

    input[type="checkbox"]+label span {
        background-color: transparent;
    }

    input[type="checkbox"]:checked+label span {
        background-color: #01194A;
    }

    input[type="checkbox"]+label span,
    input[type="checkbox"]:checked+label span {
        @include transition(background-color 0.4s linear);
    }
}

.pattform input[type="date"].form-control,
input[type="datetime-local"].form-control,
input[type="month"].form-control,
input[type="time"].form-control {
    line-height: 1.428571429 !important;
    color: #868686 !important;
    font-weight: 100 !important;
}

.padboth15 {
    padding: 0 0 22px;
}

.scrollmudiv {
    overflow: auto;
    white-space: nowrap;
    height: 160px;
}

.scrollmudiv::-webkit-scrollbar-track {
    background-color: rgba(245, 245, 245, 0);
}

.scrollmudiv::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(245, 245, 245, 0);
    height: 5px;
}

.scrollmudiv::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgba(0, 36, 109, 0.4)), color-stop(0.72, rgba(0, 36, 109, 0.4)), color-stop(0.86, rgba(0, 36, 109, 0.4)));
}

.cartadd {
    position: fixed;
    right: 1px;
    z-index: 99;
    top: 383px;
    box-shadow: #002b7f 0 0 1px 0;

    .mycartme {
        position: fixed;
        right: -48px;
        z-index: 10;
        top: 430px;
        height: 0;

        button {
            box-shadow: rgb(0, 43, 127) 0 0 1px 0;
            border-bottom: 0;
            -webkit-transform: rotate(-90deg);
        }
    }
}

.cominsize {
    background: url("../../frontend/img/Bachelorite.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.disnon {
    display: none !important;
}

.mycart2 {
    box-shadow: #002b7f 0 -1px 1px 0;
    -webkit-transform: rotate(-90deg);
    position: absolute;
    left: -89px;
    top: 51px;
    z-index: 9999;

    .socialpatt {
        list-style: none;
        text-align: center;
        cursor: pointer;
        padding: 6px;
        margin: 0;
    }

    li {
        padding: 6px 55px;
        font-size: 18px;
    }
}

.slidershow .flex-direction-nav .flex-next {
    right: -39px !important;
}

.slidershow .flex-direction-nav .flex-prev {
    left: -53px !important;
}

.pad10 {
    padding-bottom: 3%;
}

.socialpatt p {
    font-size: 16px;
}

.corndis {
    font-size: 16px;
    margin: 10px 0;
}

.readm a {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    background-image: url("../img/btn-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 8px 31px;
    width: 199px;
}

.datename {
    transform: skew(-41deg);
    position: absolute;
    bottom: 0;
    color: #fff;
    right: -20px;

    p {
        letter-spacing: 0.5px;
        font-size: 14px;
        padding: 4px 33px 4px 11px;
        margin: 0;
        transform: skew(41deg);
        text-transform: capitalize;
    }
}

.paddiv6 {
    padding-bottom: 6%;
}

.paddcorn1 {
    padding: 2% 0;
}

.corpad6 {
    margin-bottom: 6%;
}

.padnon {
    background-color: #fff !important;
    margin: 0 4% !important;
    padding: 0 !important;

    .pad {
        padding: 3% 7%;

        p {
            font-size: 16px;
        }
    }
}

.marginbot {
    margin-bottom: 6%;

    .linheight {
        line-height: 12px;
    }
}

.personinfo {
    font-size: 13px;
}

.imgabout {
    width: 200px;
    display: inline-block;
    float: left;
    margin-right: 7px;
    margin-top: -4%;
}

.abinfo {
    font-size: 17px;
    font-weight: bolder;
}

.socialpatt a {
    color: black !important;
}

.margbotom {
    margin-bottom: 0 !important;
}

.yellow_back_colorpat {
    background: #fdd116 !important;
}

.padinfo {
    padding-bottom: 1%;
}

.borderbot {
    border-bottom: 1px solid black;
}

.dropdown-content {
    margin-top: 25px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: #fdd116;
    padding: 0 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid gray;
    font-size: 16px;
    margin: 11px 12px;
    text-transform: capitalize;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: #002b7f !important;
}

.dropdown:hover .colchange {
    color: #fdd116 !important;
}

.dropdown:hover {
    background-color: #002b7f !important;
}

.confoot {
    font-size: 15px;
    color: #dadada;
    word-spacing: 2px;

    img {
        width: 18px;
    }
}

.footermen {
    margin: 0 !important;

    i {
        background-color: white;
        border-radius: 100%;
        padding: 7px 0;
        height: 28px;
        width: 28px;
        text-align: center;
        color: black;
        font-size: 17px;
        margin: 0 2px;
    }
}

.margleft {
    margin-left: 15%;
}

.contitle {
    font-size: 24px;
    text-transform: capitalize;
}

.add {
    margin: 10px 0;
    font-size: 15px;
}

.contimg {
    padding-bottom: 10px;
    width: 200px;
}

.ulmarg ul {
    margin-left: -21px !important;
}

.shadow-downdes {
    position: relative;
    bottom: 68px;
    background: linear-gradient(rgba(255, 255, 255, 0), black);
    height: 17%;
    width: 100%;
}

.submitgo {
    height: 29px !important;
    font-weight: 700 !important;
    font-size: 14px!important;
    background: #fdd116!important;
    border: none!important;
    color: #002b7f!important;
}

.flex-direction-nav a {
    width: 50px !important;
    height: 50px !important;
}
/* Start writing sass here */
@import "fancybox-override";
@import "staticmain";
@import "mobile";
