@media only screen and (max-width: 1205px) {
  .m1 {
    margin-top: 48px;
}
    .mycart2 li {
        padding: 6px 53px;
        font-size: 18px;
    }

    .mycart2 {
        top: 53px;
    }

    .rotatating {
        position: absolute;
        left: 34px;
        height: 0;
        margin-top: -5px;
    }

    .tp {
        padding-left: 0 !important;
    }

    .hdn {
        width: 100% !important;
        font-size: 11px;
        letter-spacing: 1px;
        padding: 0 !important;
        margin: 0;
    }

    .hdp {
        width: 261px;
        padding: 25px 0 4px;
        font-weight: 700;
        color: #0b358c;
        letter-spacing: 2px;
    }
}
@media (max-width: 1000px) {
    .margbotom {
        margin-bottom: 0 !important;
        font-size: 20px;
    }

    .padnon .pad p {
        font-size: 13px;
    }

    .abinfo {
        font-size: 13px;
        font-weight: bolder;
    }

    .himg2 .form-control {
        font-size: 19px;
    }

    .mycart2 {
        top: 38px;
    }

    .mycart2 li {
        padding: 6px 38px;
    }

    .himg2 .gobtn {
        padding-left: 1px;
    }

    .hdn {
        width: 100% !important;
        font-size: 11px;
        letter-spacing: 1px;
        padding: 0 !important;
        margin: 0;
    }

    .hdp {
        padding: 25px 0 4px;
        font-weight: 700;
        color: #0b358c;
        letter-spacing: 2px;
    }
}
@media (max-width: 992px) {
    .pattmarg3 {
        margin-top: -39px;
        margin-bottom: 3%;
    }

    .mycart2 li {
      padding: 6px 49px;
font-size: 19px;
    }

    .mycart2 {
        top: 55px;
    }

    .checkboxrow .checkbox label {
        font-size: 13px !important;
        margin-left: 8px !important;
    }

    .checkboxrow p {
        margin: 0 !important;
        font-size: 15px;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 10px;
    }

    .hdn {
        font-size: 13px !important;
        width: auto !important;
    }
}
@media (max-width: 922px) {
    .padinfo {
        padding-bottom: 5%;
    }

    .firstimg .front .event-name {
        bottom: 23px !important;
    }

    .eventshome img {
        height: auto;
    }

    .show-div {
        width: 825px;
    }

    .p2 {
        font-size: 43px;
    }

    .p11 {
        letter-spacing: 3px;
        margin-right: 21px;
    }

    .himg2 .form-control {
        font-size: 16px;
    }

    .lm h1 {
        font-size: 52px;
    }

    .imAb {
        width: 230px;
    }

    .p {
        font-size: 12px;
    }

    .lm2 .hclass1 {
        font-size: 62px;
    }

    .lm2 .hclass2 {
        font-size: 65px;
        margin-left: 20px;
    }

    .lm2 .hclass {
        line-height: 46px;
        margin-bottom: 0;
    }

    .categoryup h1 {
        font-size: 51px;
        margin: 1% 0;
        display: inline-block;
        width: 50%;
        line-height: 44px;
    }

    .lm2 .LMP {
        font-size: 13px;
        font-weight: 900;
        margin-left: 4%;
    }

    .fsiz {
        font-size: 73px;
        margin-top: 9%;
    }

    .m4 .m2 .padup {
        padding: 82% 0 0;
    }

    .paddleft {
        padding-left: 13.3%;
    }

    .marg13 {
        margin-top: 0;
        padding-bottom: 15px;
    }

    .pattmarg3 {
        margin-top: -38px;
        margin-bottom: 5%;
    }

    .m4 .m2 .pd15 h1 {
        font-size: 43px;
    }

    .detailsfom .text-height {
        padding: 6px 12px 0 !important;
    }

    .margin4footer {
        margin-bottom: 4%;
    }

    .wtsocial {
        margin-top: -44%;
    }

    .figure922 {
        margin-top: 43px;
    }

    .eupt .ge {
        font-size: 21px;
    }

    .eupt .ie .form-control {
        font-size: 14px;
    }

    .categoryup2 {
        background-image: url("/../img/wd.png");
        background-repeat: no-repeat;
        background-size: 41%;
        background-position: 91% 95%;
        padding: 6%;
        margin: -5% 6%;
    }

    .activ-card {
        height: 165px;
    }
}
@media (max-width: 767px) {
    .padinfo {
        padding-bottom: 9%;
    }

    .marginbot .linheight {
        line-height: 12px;
        text-align: center;
    }

    .padinfo p {
        text-align: center;
    }

    .corpad5 {
        margin-bottom: 5%;
    }

    .imgactive img {
        height: inherit !important;
        width: 100%;
    }

    body {
        padding-top: 50px;
    }

    .cartadd .mycartme {
        top: 313px;
    }

    .cartadd {
        width: 100%;
        top: 265px;
    }

    .scrollmudiv {
        height: inherit;
    }

    .mycart2 {
          box-shadow: none;
        -webkit-transform: inherit;
        position: static;
    }

    .firstimg .front,
    .flexslider .slides img {
        height: inherit !important;
    }

    .borderdown {
        background: linear-gradient(to right, #ffd72b 71%, #f3cb2c 41%, #ffd72b 40%, #f3cb2c 40%, rgba(255, 255, 255, 0) 40%);
    }

    .borderup {
        background: linear-gradient(to right, white 30%, white 30%, white 30%, white 30%, #FDD116 29%);
    }

    .figure922 {
        margin-top: -1px;
    }

    .m8 .mr {
        margin-left: 0;
    }

    .m8 .ml {
        display: inherit;
        margin-left: 10%;
    }

    .modal-fon4 {
        padding-right: 16px;
        padding-top: 10px;
    }

    .modal-def {
        padding: 18px;
    }

    .modal-fon1 {
        font-size: 30px;
    }

    .modal-fon2 {
        font-size: 45px;
    }

    .modal-fon3 {
        font-size: 52px;
    }

    .width80 .modal-dialog {
        width: auto !important;
    }

    .borderright {
        border: none;
        width: auto;
    }

    .borderr {
        padding: 0;
    }

    .marg14 {
        margin: 0;
    }

    .borderwidth {
        width: auto;
        padding-right: 0;
        border: none;
    }

    .padd8 {
        padding: 5% 0;
    }

    .pattmarg2 {
        padding: 7% 0;
    }

    .patpack {
        font-size: 17px;
    }

    .patpack2 {
        font-size: 17px;
        margin-left: 7px;
        padding: 9px 29px 4px;
    }

    .checkboxrow {
        padding: 1% 2% 17%;
        text-align: center;
    }

    .checkboxrow .checkbox label {
        margin-left: 0 !important;
        font-size: 12px !important;
    }

    .pattsocial {
        margin-top: -28%;
        right: 0;
    }

    .pattsocial .socialpatt .fontsizep {
        font-size: 12px;
    }

    .pattsocial .socialpatt {
        padding: 14px 0;
        font-size: 7px;
        width: 122px;
        margin-left: -85px;
        margin-bottom: 0;
    }

    .panelhead .fontpanel {
        font-size: 14px;
    }

    .checkboxrow p {
        margin: 0 !important;
        font-size: 18px;
    }

    .inputform {
      width: 59% !important;
height: 29px !important;
font-size: 15px;
    }

    .patmargin3 .formlabels label {
        font-size: 14px;
        text-align: inherit;
    }

    .pattayamarg4 p {
        font-size: 9px;
        margin: 0;
    }

    .wtlast .wtlast2 {
        margin: 0;
    }

    .wtsecond .wtsec2 .font15 {
        font-size: 10px;
    }

    .wtsocial {
        margin-top: -91%;
        margin-right: 4.3%;
    }

    .wtsocial .socialgr {
        margin-bottom: 0;
        margin-left: -44px;
        padding: 1px 0;
        width: 98px;
        font-size: 9px;
    }

    .wtsocial .social2 {
        margin-left: 5px;
        margin-top: -12px;
        padding: 12px 0;
    }

    .wtsocial .ulsocial2 {
        padding: 6px 0;
        width: 32px;
        font-size: 9px;
    }

    .wtsocial .ulsocial2 .fontsiz {
        font-size: 15px;
    }

    .wtsocial .ulsocial2 .ulsocial2i {
        padding: 2px 0;
        height: 16px;
        width: 16px;
        margin: 4px 0 5px 7px;
    }

    .wtsocial .socialimg {
        width: 16px;
        padding-right: 0;
        padding-top: 13px;
    }

    .select-main {
        margin: 0 !important;
    }

    .wtsecond .wtsec2 {
        padding: 14% 10% 6%;
    }

    .wtintro {
        font-size: 17px;
        text-align: center;
    }

    .whatsmain .whatsmarg4 .whatspadd3 {
        padding: 9% 3%;
    }

    .wtlast .wtlast2 .table > thead > tr > th {
        vertical-align: super;
        padding: 6px;
        font-size: 9px;
    }

    .wtlast .wtlast2 .table > tbody > tr > td {
        padding: 3px 6px;
        font-size: 10px;
        vertical-align: middle;
    }

    .whatsmain .whatsmarg4 .wtimg {
        padding: 10px 25px;
        font-size: 16px;
    }

    .whatsmain .whatsmarg4 .wtvi {
        margin: 0 23px;
        font-size: 20px;
    }

    .padding30px {
        padding-bottom: 30px;
    }

    .dlm {
        height: 39%;
        margin: 23% 0 0 !important;

        h1 {
            padding: 3% 0 0;
            font-size: 30px;
        }
    }

    .m4 .m2 .pd15 h1 {
        font-size: 29px;
        padding: 0;
    }

    .fsiz {
        font-size: 30px;
    }

    .pdb30 {
        padding: 0 !important;
    }

    .select-main i {
        font-size: 13px;
    }

    .category .form-group input {
        font-size: 13px;
    }

    .load-more .button-holder {
        font-size: 12px;
    }

    .padd30px {
        padding-bottom: 15px !important;
        padding-top: 0 !important;
    }

    .list {
        font-size: 12px;
    }

    .spAb h1 {
        font-size: 40px;
    }

    .spAb .ain {
        font-size: 10px;
    }

    .detailsfom .form-control {
        font-size: 12px;
        height: 33px;
    }

    .navbar-brand {
        padding: 14px 9px;
    }

    .hdp {
        padding: 18px 0 0;
    }

    .email-form {
        font-size: 24px;
    }

    .sendform a {
        font-size: 20px;
    }

    .textcenter {
        text-align: center;
    }

    .paddingabout {
        padding: initial;
    }

    .detailsfom .padding-l,
    .detailsfom .padding-r {
        padding: inherit;
    }

    .loadimag,
    .lodm {
        padding: 4% 0;

        a {
            padding: 13px 52px;
            font-size: 11px;
        }
    }

    .eupt .es button {
        font-size: 14px;
        float: initial;
    }

    .img-box {
        width: 301px !important;
    }

    .hoverhold {
        font-weight: 600;
        margin: 15% 0 0;
    }

    .paddleft p {
        font-size: 16px;
    }

    .sub button {
        font-size: 12px;
    }

    .custtitle {
        font-size: 20px;
    }

    .himg2 .form-control {
        border-bottom: 1px solid #FDD116;
        background-size: 24px;
        font-size: 16px;
    }

    .imgab {
        width: 38%;
    }

    .himg2 {
        width: 63%;
        padding: 3% 2% 3% 19%;
        margin-left: 19%;
    }

    .labsec {
        font-size: 14px;
    }

    .imAb {
        margin: 0;
        width: 210px;
    }

    .sado {
        display: inline-block;
        text-align: center;
        float: inherit;
    }

    .spAb {
        width: auto;
        text-align: center;
        padding-left: 0;
    }

    .eupt .ge {
        font-size: 18px;
    }

    .eupt .ie .form-control {
        text-align: center;
        margin: 0 10%;
        width: 80%;
    }

    .lm {
        p {
            font-size: 8px;
        }

        h1 {
            font-size: 20px;
        }
    }

    .es {
        text-align: center;
    }

    .eupt p {
        font-size: 11px;
        display: inline-block;
        float: initial !important;
    }

    .imgf {
        right: 9px;
        top: -93px;
        width: 163px;
        position: absolute;
    }

    .footerfom .witdhimp {
        width: auto !important;
        margin: 0 0 15px !important;
    }

    .footb p,
    .footb2 p,
    .footerfom {
        text-align: center;
    }

    .footb2 p {
        font-size: 12px;
    }

    .stp {
        font-size: 14px;
        padding: 5% 0;
    }

    .mf,
    .textalign {
        text-align: center;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: inherit !important;
    }

    .navbar-nav > li {
        float: inherit !important;
    }

    .hbc .tp {
        padding-left: 54px !important;
    }

    .navbar-default .navbar-nav > li > a {
        color: #263878;
        border: none;
    }

    .hdn {
        padding: 20px 10px 0;
        color: #263878;
        font-size: 16px;
        letter-spacing: 1px;

        .mt3 {
            margin-top: 3%;
        }

        .tp {
            padding-left: 2px;
        }
    }

    .ap p {
        font-size: 14px;
    }

    .ap3 .cp {
        font-size: 17px;
    }

    .h1c {
        font-size: 51px;
    }

    .img-f img {
        margin-bottom: -2px;
    }

    .displaynon {
        display: none;
    }

    .display {
        cursor: pointer;
        display: block;
        margin-bottom: -21px;
        margin-top: 9%;
        padding-left: 10px;
    }

    .disp {
        font-weight: 600;
        font-size: 16px;
        color: #fff;
        background-image: url("../img/btn-bg.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 5px 32px;
        margin: 0;
        display: inline-block;
    }

    .disp2 {
        font-size: 34px;
        margin: 0;
        color: #ffca18;
        font-weight: bolder;
    }

    .display2 {
        cursor: pointer;
        display: block;
        text-align: right;
        margin-bottom: 7%;
    }
    //UPCOMING PAGE START
    .lm2 .hclass {
        line-height: 25px;
        margin: 0;
    }

    .lm2 .hclass1 {
        font-size: 29px;
    }

    .lm2 .hclass2 {
        font-size: 29px;
        margin-left: 10px;
    }

    .lm2 .LMP {
        font-size: 8px;
        font-weight: 900;
        margin-left: 4%;
    }

    .categoryup h1 {
        font-size: 30px;
        margin: 5% 0 1%;
        display: inline-block;
        width: 50%;
        line-height: 25px;
    }

    .event-name2 .eventp {
        margin: 0;
        font-size: 13px;
    }

    .event-name2 .eventh2 {
        font-size: 21px;
        margin-bottom: 2px;
    }

    .pattform .form-control {
        border: none !important;
        font-size: 12px !important;
        margin-bottom: 8px !important;
        height: auto !important;
        padding: 6px 12px !important;
    }

    .pattform .btn-submit {
        border: none !important;
        font-size: 14px !important;
        margin-bottom: 0 !important;
        height: auto !important;
        padding: 5px 9px !important;
        width: 100%;
        background: #002b7f !important;
        color: #cacaca !important;
    }

    .pattsocial2 .socialpatt .fontsizep {
        font-size: 12px;
    }

    .pattform {
        margin-top: -26.8%;
        position: absolute;
        right: 41px;
        padding: 15px;
        width: 60%;
        z-index: 1;
    }

    .paddleft {
        padding-left: 7.6%;
    }

    .pattayah1 {
        font-size: 28px;
    }

    .links2 .loadh1 {
        line-height: 13px;
    }

    .links2 .pattp1 {
        margin: 1% 0;
        font-size: 11px;
    }

    .links2 .pattp2 {
        font-size: 10px;
        padding: 1px 8px;
    }

    .patayasocial {
        margin-top: -363% !important;
        margin-right: -5.4% !important;
    }

    .pattayevents .borderhr {
        font-size: 20px;
    }

    .pattayevents .list2 {
        font-size: 11px;
    }

    .flex-control-nav {
        height: 14px;
    }

    .card .back {
        font-size: 12px;
    }

    .checkboxrow2 {
        padding: 0 2% 9%;
    }

    .custtitle {
        font-size: 24px;
    }

    .textright {
        text-align: center;
    }

    .custom-select .form-control {
        width: 49%;
        font-size: 18px;
    }

    .events .over-layer .button-holder {
        font-size: 11px;
        width: 90%;
    }

    .himg2 .gobtn {
        font-size: 19px;
    }

    .paddactiv {
        padding-bottom: 11%;
    }
}
@media (max-width: 480px) {
    .imAb {
        width: 115px;
    }

    .panelacor .fontpanel {
        font-size: 12px;
    }

    .padding30 {
        font-size: 12px;
        padding: 0;
    }

    .event-name span {
        letter-spacing: inherit;
        font-size: 11px;
    }

    .himg2 .form-control {
        font-size: 12px;
        overflow: hidden !important;
        white-space: pre-wrap;
        text-overflow: ellipsis;
    }

    .category .form-group select {
        width: 100% !important;
    }

    .category {
        background-color: #fdd116;
        padding: 20px;
        margin: 0 6% !important;
    }

    .select-main {
        width: 100%;
    }

    .himg2 .gobtn {
        font-size: 15px;
        padding-left: 0;
    }

    .custom-select .form-control {
        width: 67%;
        font-size: 16px;
    }

    .hbc .tp {
        padding-left: 0 !important;
    }
}
@media (max-width: 375px) {
    .img-box {
        width: 272px !important;
    }
}
@media (max-width: 320px) {
    .img-box {
        width: 228px !important;
    }

    .links2 {
        margin: 1% 0;
    }

    .pattayaimg {
        margin: 0 20%;
    }

    .panelhead {
        padding: 5px 0;
    }

    .checkboxrow p {
        font-size: 14px;
    }

    .himg2 .form-control {
        border-bottom: 1px solid #FDD116;
        background-size: 16px;
        font-size: 13px;
        width: 75%;
    }

    .lm2 .hclass {
        line-height: 13px;
        margin: 0;
    }

    .lm2 .hclass1 {
        font-size: 24px;
    }

    .lm2 .hclass2 {
        font-size: 24px;
        margin-left: 10px;
    }

    .custtitle {
        font-size: 16px;
    }
}
